:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 1103px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 1270px;
  height: 1103px;
  top: 0;
  left: 0;
  background: #f6f7fb;
}
.rectangle-1 {
  position: relative;
  width: 1270px;
  height: 1103px;
  margin: 1px 0 0 1px;
  background: #f6f7fb;
  z-index: 1;
  overflow: visible auto;
}
.rectangle-2 {
  position: relative;
  width: 1270px;
  height: 74px;
  margin: -1px 0 0 -1px;
  background: #ffffff;
  z-index: 3;
}
.rectangle-3 {
  position: absolute;
  width: 145px;
  height: 30px;
  top: 0;
  left: 635px;
  background: #ffffff;
  z-index: 2;
}
.image {
  position: absolute;
  width: 236px;
  height: 45px;
  top: 14px;
  left: 65px;
  background: url(./assets3/images/38191524-1238-4daa-908d-2a481c81ab65.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  overflow: hidden;
}
.rectangle-4 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 20px;
  left: 971px;
  z-index: 12;
  border-radius: 6px;
}
.image-5 {
  position: relative;
  width: 34px;
  height: 34px;
  margin: 2px 0 0 2px;
  z-index: 13;
}
.expand-more {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 20px;
  left: 1151px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.triplei-academy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 23px;
  left: 1017px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 110;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 23px;
  left: 1135px;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 111;
}
.rectangle-6 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 667px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 5;
}
.rectangle-7 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 788px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 6;
}
.rectangle-8 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 908px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 10;
}
.english {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 31px;
  left: 708px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.expand-more-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 31px;
  left: 754px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}
.call-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 44px;
  height: 21px;
  top: 32px;
  left: 587px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 105;
}
.expand-more-a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 32px;
  left: 634px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 106;
}
.image-b {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 806px;
  background: url(./assets3/images/3c0752b6-dece-47cf-81b2-19c436466908.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  overflow: hidden;
}
.image-c {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 840px;
  background: url(./assets3/images/308bdc41-0ac3-4c2d-bd2a-c7f62346517c.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
}
.image-d {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 874px;
  background: url(./assets3/images/0c096e8a-1f46-44d5-941d-c9333d416bba.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  overflow: hidden;
}
.language {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 33px;
  left: 684px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
.call {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 34px;
  left: 566px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 104;
}
.image-e {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 35px;
  left: 925px;
  background: url(./assets3/images/bf8a2ba2-2827-424e-b6d6-12a91291e530.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  overflow: hidden;
}
.tds {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 45px;
  left: 1017px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 113;
}
.rectangle-f {
  position: relative;
  width: 1270px;
  height: 51px;
  margin: 0 0 0 -1px;
  background: #2a3a8d;
  z-index: 14;
}
.rectangle-10 {
  position: absolute;
  width: 157px;
  height: 47px;
  top: 0;
  left: 294px;
  z-index: 19;
  border-radius: 4px 4px 0 0;
}
.rectangle-11 {
  position: absolute;
  width: 157px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 20;
  border-radius: 4px 4px 0 0;
}
.authorised-partners {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.expand-more-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 133px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.rectangle-13 {
  position: absolute;
  width: 134px;
  height: 47px;
  top: 0;
  left: 632px;
  z-index: 23;
  border-radius: 4px 4px 0 0;
}
.rectangle-14 {
  position: absolute;
  width: 134px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 24;
  border-radius: 4px 4px 0 0;
}
.pending-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.expand-more-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 109px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 122;
}
.rectangle-16 {
  position: absolute;
  width: 101px;
  height: 47px;
  top: 0;
  left: 813px;
  z-index: 25;
  border-radius: 4px 4px 0 0;
}
.rectangle-17 {
  position: absolute;
  width: 101px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 26;
  border-radius: 4px 4px 0 0;
}
.grievances {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 123;
}
.expand-more-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 77px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 124;
}
.rectangle-19 {
  position: absolute;
  width: 85px;
  height: 47px;
  top: 0;
  left: 499px;
  z-index: 21;
  border-radius: 4px 4px 0 0;
}
.rectangle-1a {
  position: absolute;
  width: 85px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 22;
  border-radius: 4px 4px 0 0;
}
.services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 119;
}
.expand-more-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 61px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 120;
}
.rectangle-1c {
  position: absolute;
  width: 71px;
  height: 47px;
  top: 0;
  left: 65px;
  z-index: 15;
  border-radius: 4px 4px 0 0;
}
.rectangle-1d {
  position: absolute;
  width: 71px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 16;
  border-radius: 4px 4px 0 0;
}
.dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 114;
}
.rectangle-1e {
  position: absolute;
  width: 62px;
  height: 47px;
  top: 0;
  left: 184px;
  z-index: 17;
  border-radius: 4px 4px 0 0;
}
.rectangle-1f {
  position: absolute;
  width: 62px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 18;
  border-radius: 4px 4px 0 0;
}
.e-file {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 115;
}
.expand-more-20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 38px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.rectangle-21 {
  position: absolute;
  width: 32px;
  height: 47px;
  top: 0;
  left: 962px;
  z-index: 27;
  border-radius: 4px 4px 0 0;
}
.rectangle-22 {
  position: absolute;
  width: 32px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 28;
  border-radius: 4px 4px 0 0;
}
.help {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 125;
}
.colon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 9px;
  left: 1158px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 129;
}
.text-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1129px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.text-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1147px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}
.text-1a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1176px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1194px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 131;
}
.session-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 12px;
  left: 1045px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 126;
}
.rectangle-23 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1126px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 29;
}
.rectangle-24 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1144px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 30;
}
.rectangle-25 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1173px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 31;
}
.rectangle-26 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1191px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 32;
}
.rectangle-27 {
  position: relative;
  width: 1270px;
  height: 72px;
  margin: 0 0 0 -1px;
  background: #f6f7fb;
  z-index: 33;
  overflow: visible auto;
}
.rectangle-28 {
  position: relative;
  width: 1140px;
  height: 28px;
  margin: 12px 0 0 65px;
  background: #f6f7fb;
  z-index: 34;
  border-radius: 4px;
}
.dashboard-29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 0;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 132;
}
.e-pay-tax {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 77px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 133;
}
.image-2a {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 58px;
  background: url(./assets3/images/90996d3b-d2e7-4102-8ba5-a06470cc8b3d.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  overflow: hidden;
}
.flex-row-ae {
  position: relative;
  width: 1140px;
  height: 47px;
  margin: -1px 0 0 64px;
  z-index: 134;
}
.e-pay-tax-2b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 39.9px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.15px;
  z-index: 134;
}
.rectangle-2c {
  position: absolute;
  width: 170px;
  height: 31px;
  top: 16px;
  left: 970px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #2a3a8d;
  z-index: 36;
  border-radius: 4px;
}
.new-payment {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 107px;
  height: 25px;
  top: 3px;
  left: 37px;
  color: #2a3a8d;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 135;
}
.image-2d {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 7px;
  left: 26px;
  background: url(./assets3/images/2d42e6c3-3ff0-4142-9568-9203ceb838fc.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 930px;
  height: 21px;
  margin: 0 0 0 64px;
  z-index: 137;
}
.span-new-payment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 136;
}
.span-these-banks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 854px;
  color: #0000ff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 137;
}
.span-please-note {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1123px;
  height: 48px;
  margin: 2px 0 0 64px;
  color: #25b1ea;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.25px;
  z-index: 138;
}
.rectangle-2e {
  position: relative;
  width: 1140px;
  height: 354px;
  margin: 22px 0 0 64px;
  background: #ffffff;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 38;
  overflow: visible auto;
  border-radius: 4px;
}
.rectangle-2f {
  position: relative;
  width: 1091px;
  height: 49px;
  margin: 25px 0 0 25px;
  z-index: 40;
  overflow: visible auto;
}
.flex-row-f {
  position: relative;
  width: 704px;
  height: 40px;
  margin: 4px 0 0 40px;
  z-index: 142;
}
.rectangle-30 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 418px;
  z-index: 41;
}
.rectangle-31 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 43;
}
.image-32 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 9px 0 0 8px;
  background: url(./assets3/images/5ac1b030-3a41-4370-bac0-d6f4a50d92b2.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  overflow: hidden;
}
.span-saved-drafts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 21px;
  top: 9px;
  left: 0;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 139;
}
.span-generated-challans {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 122px;
  height: 21px;
  top: 9px;
  left: 144px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 140;
}
.span-payment-history {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 104px;
  height: 21px;
  top: 9px;
  left: 314px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 141;
}
.span-challan-status-inquiry {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 198px;
  height: 21px;
  top: 9px;
  left: 506px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 142;
}
.rectangle-33 {
  position: relative;
  width: 160px;
  height: 2px;
  margin: 2px 0 0 0;
  background: #076bcf;
  z-index: 44;
}
.rectangle-34 {
  position: relative;
  width: 1090.667px;
  height: 1px;
  margin: 0.33px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 39;
}
.rectangle-35 {
  position: relative;
  width: 1091px;
  height: 200px;
  margin: 56px 0 0 25px;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 45;
  overflow: visible auto;
  border-radius: 2px;
}
.rectangle-36 {
  position: relative;
  width: 1089px;
  height: 129px;
  margin: 1px 0 0 0;
  background: #ffffff;
  z-index: 46;
  overflow: visible auto;
}
.button-rectangle {
  position: relative;
  width: 1089px;
  height: 51px;
  margin: 0 0 0 0;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 48;
  overflow: visible auto;
}
.rectangle-37 {
  position: relative;
  width: 1082px;
  height: 50px;
  margin: 0 0 0 0;
  background: #eeeff6;
  z-index: 49;
}
.rectangle-38 {
  position: absolute;
  width: 320px;
  height: 51px;
  top: 0;
  left: 70px;
  background: #eeeff6;
  z-index: 53;
}
.span-type-of-payment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 145;
}
.rectangle-39 {
  position: absolute;
  width: 276px;
  height: 51px;
  top: 0;
  left: 390px;
  background: #eeeff6;
  z-index: 54;
}
.span-assessment-year {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 146;
}
.rectangle-3a {
  position: absolute;
  width: 276px;
  height: 51px;
  top: 0;
  left: 666px;
  background: #eeeff6;
  z-index: 55;
}
.span-saved-on {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 147;
}
.rectangle-3b {
  position: absolute;
  width: 140px;
  height: 51px;
  top: 0;
  left: 942px;
  background: #eeeff6;
  z-index: 56;
}
.span-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 148;
}
.rectangle-3c {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 0;
  left: 0;
  background: #eeeff6;
  z-index: 50;
}
.rectangle-3d {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 16px 0 0 16px;
  z-index: 51;
  border-radius: 2px;
}
.rectangle-3e {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 52;
}
.rectangle-3f {
  position: relative;
  width: 1089.333px;
  height: 1px;
  margin: 1px 0 0 0.33px;
  background: #e2e2e2;
  z-index: 47;
}
.rectangle-40 {
  position: relative;
  width: 1089px;
  height: 70px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 57;
  overflow: visible auto;
}
.rectangle-41 {
  position: relative;
  width: 1082px;
  height: 70px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 58;
  overflow: visible auto;
}
.rectangle-42 {
  position: relative;
  width: 1082px;
  height: 55px;
  margin: 0 0 0 0;
  z-index: 59;
}
.rectangle-43 {
  position: absolute;
  width: 320px;
  height: 55px;
  top: 0;
  left: 70px;
  background: #ffffff;
  z-index: 63;
}
.tds-tcs-payable {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 13px;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 149;
}
.rectangle-44 {
  position: absolute;
  width: 276px;
  height: 55px;
  top: 0;
  left: 390px;
  background: #ffffff;
  z-index: 64;
}
.text-2d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 46px;
  top: 0;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  white-space: nowrap;
  z-index: 150;
}
.rectangle-45 {
  position: absolute;
  width: 276px;
  height: 55px;
  top: 0;
  left: 666px;
  background: #ffffff;
  z-index: 65;
}
.jan-31-jan-2024 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 46px;
  top: 0;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  white-space: nowrap;
  z-index: 151;
}
.rectangle-46 {
  position: absolute;
  width: 140px;
  height: 55px;
  top: 0;
  left: 942px;
  background: #ffffff;
  z-index: 66;
}
.rectangle-47 {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 3px 0 0 16px;
  z-index: 67;
}
.rectangle-48 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 68;
}
.more-vert {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 152;
}
.rectangle-49 {
  position: absolute;
  width: 70px;
  height: 55px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 60;
}
.rectangle-4a {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 15px 0 0 15px;
  z-index: 61;
  border-radius: 2px;
}
.rectangle-4b {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 62;
}
.rectangle-4c {
  position: relative;
  width: 1089px;
  height: 70px;
  margin: 1px 0 0 0;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 69;
}
.rectangle-4d {
  position: absolute;
  width: 60px;
  height: 44px;
  top: 16px;
  left: 116px;
  z-index: 70;
  border-radius: 4px;
}
.rectangle-4e {
  position: absolute;
  width: 60px;
  height: 44px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 71;
  border-radius: 4px;
}
.rectangle-4f {
  position: absolute;
  width: 60px;
  height: 44px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 74;
  border-radius: 4px;
}
.rectangle-50 {
  position: absolute;
  width: 55px;
  height: 44px;
  top: 0;
  left: 5px;
  z-index: 73;
  border-radius: 0 5px 5px 0;
}
.rectangle-51 {
  position: absolute;
  width: 55px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 76;
  border-radius: 0 5px 5px 0;
}
.text-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 9px;
  left: 6px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 154;
}
.rectangle-52 {
  position: absolute;
  width: 8px;
  height: 5px;
  top: 19px;
  left: 32px;
  z-index: 77;
  border-radius: 8px;
}
.rectangle-53 {
  position: absolute;
  width: 5px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 72;
  border-radius: 5px 0 0 5px;
}
.rectangle-54 {
  position: absolute;
  width: 5px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 75;
  border-radius: 5px 0 0 5px;
}
.rectangle-55 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 749px;
  background: #ffffff;
  z-index: 78;
}
.rectangle-56 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 80;
}
.rectangle-57 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 81;
}
.image-58 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 9px 0 0 8px;
  background: url(./assets3/images/f36381f8-efae-43d9-bd9b-26ad8561f375.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
  overflow: hidden;
}
.rectangle-59 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 805px;
  background: #ffffff;
  z-index: 82;
}
.rectangle-5a {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 84;
}
.rectangle-5b {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 85;
}
.image-5c {
  position: relative;
  width: 33px;
  height: 33px;
  margin: 4px 0 0 3px;
  background: url(./assets3/images/8586719f-82b0-487d-96e5-df868bda6b30.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  overflow: hidden;
}
.rectangle-5d {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 954px;
  background: #ffffff;
  z-index: 86;
}
.rectangle-5e {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 88;
}
.rectangle-5f {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 89;
}
.image-60 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 9px 0 0 8px;
  background: url(./assets3/images/c872eb94-f737-4e90-8109-e270300f92ba.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
  overflow: hidden;
}
.rectangle-61 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 1010px;
  background: #ffffff;
  z-index: 90;
}
.rectangle-62 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 92;
}
.rectangle-63 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 93;
}
.image-64 {
  position: relative;
  width: 24px;
  height: 23px;
  margin: 9px 0 0 8px;
  background: url(./assets3/images/6b4da7d6-de2e-4bdf-86fd-6da9141a629c.png)
    no-repeat center;
  background-size: cover;
  z-index: 91;
  overflow: hidden;
}
.span-rows-per-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 25px;
  left: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 153;
}
.span-pages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 25px;
  left: 896px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 158;
}
.span-of {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 25px;
  left: 869px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 156;
}
.span-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 25px;
  left: 861px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 155;
}
.span-1-65 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 25px;
  left: 888px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 157;
}
.span-filter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 20px;
  top: 90px;
  left: 1053px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 144;
}
.span-delete {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 35px;
  height: 16px;
  top: 95px;
  left: 945px;
  color: rgba(0, 0, 0, 0.38);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.96px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 143;
}
.button-rectangle-66 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 173px;
  height: 46px;
  margin: 40px 0 0 64px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #2a3a8d;
  z-index: 159;
  border-radius: 4px;
}
.span-go-to-dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 124px;
  height: 21px;
  color: #2a3a8d;
  font-family: Roboto, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 20.96px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 159;
}
.span-need-help {
  display: block;
  position: relative;
  height: 21px;
  margin: 56px 0 0 64px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 160;
}
.rectangle-67 {
  position: relative;
  width: 555px;
  height: 1px;
  margin: 8px 0 0 64px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 95;
}
.span-what-is-assessment-year {
  display: block;
  position: relative;
  height: 21px;
  margin: 16px 0 0 80px;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 161;
}
.rectangle-68 {
  position: relative;
  width: 1270px;
  height: 116px;
  margin: 88px 0 0 -1px;
  background: #eeeff6;
  z-index: 96;
  overflow: visible auto;
}
.div-flex-row-bf {
  position: relative;
  width: 1140px;
  height: 42px;
  margin: 16px 0 0 65px;
  z-index: 169;
}
.image-69 {
  position: absolute;
  width: 137px;
  height: 42px;
  top: 0;
  left: 0;
  z-index: 97;
  overflow: hidden;
}
.div-group {
  position: relative;
  width: 143px;
  height: 42px;
  margin: 0px 0 0 0;
  z-index: 98;
}
.div-group-6a {
  position: absolute;
  width: 17.83%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets3/images/4655cc76-7625-45ad-bfd6-c3aabfccef92.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 103;
}
.div-group-6b {
  position: absolute;
  width: 74.13%;
  height: 71.43%;
  top: 19.8%;
  left: 25.87%;
  z-index: 99;
}
.div-group-6c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 100;
}
.span-india-gov-in {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.span-national-portal-of-india {
  display: block;
  position: relative;
  height: 12px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.span-feedback {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 623px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 162;
}
.span-website-policies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 680px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 163;
}
.span-accessibility-statement {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 775px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 164;
}
.span-site-map {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 908px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 165;
}
.span-browser-support {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 962px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 166;
}
.span-cobrowse-help {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 1058px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 167;
}
.span-last-reviewed-and-updated-on {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 21px;
  left: 903px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 168;
}
.span-jan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 21px;
  left: 1071px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 169;
}
.span-this-site-is-best-viewed-in {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 598px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 170;
}
.span-copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 526px;
  height: 42px;
  top: 1066px;
  left: 679px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  z-index: 171;
}
