:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 1034px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.box {
  position: absolute;
  width: 1270px;
  height: 1034px;
  top: 0;
  left: 0;
  background: #f6f7fb;
}
.section {
  position: absolute;
  width: 1270px;
  height: 1034px;
  top: 0;
  left: 0;
  background: #f6f7fb;
  z-index: 1;
}
.group {
  position: relative;
  width: 1270px;
  height: 74px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 3;
}
.section-2 {
  position: absolute;
  width: 145px;
  height: 30px;
  top: 0;
  left: 635px;
  background: #ffffff;
  z-index: 2;
}
.img {
  position: absolute;
  width: 236px;
  height: 45px;
  top: 14px;
  left: 65px;
  background: url(./assets4/images/90ad8f24-9cee-4138-927d-0a59aad9334d.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  overflow: hidden;
}
.section-3 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 20px;
  left: 971px;
  z-index: 12;
  border-radius: 6px;
}
.wrapper {
  position: relative;
  width: 34px;
  height: 34px;
  margin: 2px 0 0 2px;
  z-index: 13;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 20px;
  left: 1151px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 23px;
  left: 1017px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 82;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 23px;
  left: 1135px;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 83;
}
.wrapper-2 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 667px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 5;
}
.group-2 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 788px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 6;
}
.section-4 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 908px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 10;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 31px;
  left: 708px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 31px;
  left: 754px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 44px;
  height: 21px;
  top: 32px;
  left: 587px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 77;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 32px;
  left: 634px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 78;
}
.pic {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 806px;
  background: url(./assets4/images/4d7ec30a-5e77-421a-a396-9d1d7498c73d.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  overflow: hidden;
}
.pic-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 840px;
  background: url(./assets4/images/1a9b7a13-28be-4e8a-a711-0257bdcbc82f.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
}
.pic-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 874px;
  background: url(./assets4/images/79b8688a-2b85-4553-b142-ea604c6c218b.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  overflow: hidden;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 33px;
  left: 684px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 34px;
  left: 566px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 76;
}
.pic-4 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 35px;
  left: 925px;
  background: url(./assets4/images/fcb56c71-473f-41aa-b8b5-8f7459412aab.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  overflow: hidden;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 45px;
  left: 1017px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 85;
}
.section-5 {
  position: relative;
  width: 1270px;
  height: 51px;
  margin: 0 0 0 0;
  background: #2a3a8d;
  z-index: 14;
}
.group-3 {
  position: absolute;
  width: 157px;
  height: 47px;
  top: 0;
  left: 294px;
  z-index: 19;
  border-radius: 4px 4px 0 0;
}
.section-6 {
  position: absolute;
  width: 157px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 20;
  border-radius: 4px 4px 0 0;
}
.text-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 89;
}
.text-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 133px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.section-7 {
  position: absolute;
  width: 134px;
  height: 47px;
  top: 0;
  left: 632px;
  z-index: 23;
  border-radius: 4px 4px 0 0;
}
.box-2 {
  position: absolute;
  width: 134px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 24;
  border-radius: 4px 4px 0 0;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 109px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.box-3 {
  position: absolute;
  width: 101px;
  height: 47px;
  top: 0;
  left: 813px;
  z-index: 25;
  border-radius: 4px 4px 0 0;
}
.group-4 {
  position: absolute;
  width: 101px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 26;
  border-radius: 4px 4px 0 0;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.text-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 77px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.wrapper-3 {
  position: absolute;
  width: 85px;
  height: 47px;
  top: 0;
  left: 499px;
  z-index: 21;
  border-radius: 4px 4px 0 0;
}
.box-4 {
  position: absolute;
  width: 85px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 22;
  border-radius: 4px 4px 0 0;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 61px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}
.group-5 {
  position: absolute;
  width: 71px;
  height: 47px;
  top: 0;
  left: 65px;
  z-index: 15;
  border-radius: 4px 4px 0 0;
}
.box-5 {
  position: absolute;
  width: 71px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 16;
  border-radius: 4px 4px 0 0;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 86;
}
.group-6 {
  position: absolute;
  width: 62px;
  height: 47px;
  top: 0;
  left: 184px;
  z-index: 17;
  border-radius: 4px 4px 0 0;
}
.section-8 {
  position: absolute;
  width: 62px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 18;
  border-radius: 4px 4px 0 0;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 38px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.wrapper-4 {
  position: absolute;
  width: 32px;
  height: 47px;
  top: 0;
  left: 962px;
  z-index: 27;
  border-radius: 4px 4px 0 0;
}
.wrapper-5 {
  position: absolute;
  width: 32px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 28;
  border-radius: 4px 4px 0 0;
}
.text-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}
.text-17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 9px;
  left: 1158px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.text-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1129px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.text-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1147px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.text-1a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1176px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1194px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 103;
}
.text-1c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 12px;
  left: 1045px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.wrapper-6 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1126px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 29;
}
.wrapper-7 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1144px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 30;
}
.group-7 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1173px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 31;
}
.section-9 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1191px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 32;
}
.section-a {
  position: relative;
  width: 1270px;
  height: 72px;
  margin: 0 0 0 0;
  background: #f6f7fb;
  z-index: 33;
  overflow: visible auto;
}
.box-6 {
  position: relative;
  width: 1140px;
  height: 28px;
  margin: 12px 0 0 65px;
  background: #f6f7fb;
  z-index: 34;
  border-radius: 4px;
}
.text-1d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 0;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.text-1e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 77px;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 105;
}
.text-1f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 148px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.pic-5 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 58px;
  background: url(./assets4/images/d0e3c56d-4572-4af8-b0b6-8df4ce8fd48f.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  overflow: hidden;
}
.img-2 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 129px;
  background: url(./assets4/images/1bd9749d-7bc4-44d5-a183-df25d6f44bc5.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
  overflow: hidden;
}
.text-20 {
  display: block;
  position: relative;
  height: 45px;
  margin: 0 0 0 65px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
.section-b {
  position: relative;
  width: 138px;
  height: 21px;
  margin: 8px 0 0 65px;
  z-index: 109;
}
.text-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.text-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 43px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}
.box-7 {
  position: relative;
  width: 180px;
  height: 22px;
  margin: 8px 0 0 65px;
  z-index: 111;
}
.text-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 117px;
  color: #cd2026;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 111;
}
.text-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 1px;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.group-8 {
  position: absolute;
  width: 5px;
  height: 2px;
  top: 19.667px;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 48;
}
.wrapper-8 {
  position: relative;
  width: 5px;
  height: 1px;
  margin: 1.333px 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 39;
}
.group-9 {
  position: absolute;
  width: 175px;
  height: 2px;
  top: 19.667px;
  left: 5px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 52;
}
.group-a {
  position: relative;
  width: 175px;
  height: 1px;
  margin: 1.333px 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 43;
}
.wrapper-9 {
  position: relative;
  width: 184px;
  height: 43.333px;
  margin: -0.33px 0 0 63px;
  z-index: 53;
}
.section-c {
  position: absolute;
  width: 2px;
  height: 43px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 49;
}
.group-b {
  position: relative;
  width: 1px;
  height: 43px;
  margin: 0 0 0 1.333px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 40;
}
.wrapper-a {
  position: absolute;
  width: 2px;
  height: 43px;
  top: 0;
  left: 182px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 53;
}
.section-d {
  position: relative;
  width: 1px;
  height: 43px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 44;
}
.wrapper-b {
  position: absolute;
  width: 180px;
  height: 43px;
  top: 0.33px;
  left: 2px;
  background: #ffffff;
  z-index: 38;
  border-radius: 4px;
}
.section-e {
  position: absolute;
  width: 180px;
  height: 43px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 47;
  border-radius: 4px;
}
.box-8 {
  position: relative;
  width: 180px;
  height: 42px;
  margin: 0 0 0 0;
  z-index: 37;
  border-radius: 4px;
}
.wrapper-c {
  position: absolute;
  width: 175px;
  height: 43px;
  top: 0;
  left: 5px;
  z-index: 46;
  border-radius: 0 5px 5px 0;
}
.section-f {
  position: absolute;
  width: 175px;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 55;
  border-radius: 0 5px 5px 0;
}
.text-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 8px;
  left: 7px;
  color: rgba(0, 0, 0, 0.38);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.section-10 {
  position: absolute;
  width: 8px;
  height: 5px;
  top: 19px;
  left: 147px;
  z-index: 56;
  border-radius: 8px;
}
.section-11 {
  position: absolute;
  width: 5px;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 42;
  border-radius: 5px 0 0 5px;
}
.wrapper-d {
  position: absolute;
  width: 5px;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 51;
  border-radius: 5px 0 0 5px;
}
.box-9 {
  position: relative;
  width: 180px;
  height: 2px;
  margin: -0.33px 0 0 65px;
  z-index: 54;
}
.wrapper-e {
  position: absolute;
  width: 5px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 50;
}
.wrapper-f {
  position: relative;
  width: 5px;
  height: 1px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 41;
}
.wrapper-10 {
  position: absolute;
  width: 175px;
  height: 2px;
  top: 0;
  left: 5px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 54;
}
.group-c {
  position: relative;
  width: 175px;
  height: 1px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 45;
}
.wrapper-11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 202px;
  height: 21px;
  margin: 13.333px 0 0 1003px;
  z-index: 114;
}
.text-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  width: 6px;
  height: 21px;
  color: #cd2026;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 113;
}
.text-27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
  width: 188px;
  height: 21px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 114;
}
.wrapper-12 {
  position: relative;
  width: 1140px;
  height: 266px;
  margin: 8px 0 0 65px;
  background: #ffffff;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 57;
  border-radius: 4px;
}
.section-12 {
  position: absolute;
  width: 356px;
  height: 216px;
  top: 24px;
  left: 391px;
  font-size: 0px;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 61;
  border-radius: 4px;
}
.text-28 {
  display: block;
  position: relative;
  height: 21px;
  margin: 24px 0 0 25px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.text-29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 273px;
  height: 42px;
  margin: 32px 0 0 25px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  z-index: 119;
}
.wrapper-13 {
  position: relative;
  width: 354px;
  height: 54px;
  margin: 44px 0 0 1px;
  background: #f2f2f2;
  z-index: 62;
  overflow: visible auto;
}
.box-a {
  position: relative;
  width: 77px;
  height: 30px;
  margin: 12px 0 0 261px;
  background: #2a3a8d;
  z-index: 63;
  border-radius: 4px;
}
.text-2a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 21px;
  top: 4px;
  left: 16px;
  color: #f6f7fb;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 120;
}
.group-d {
  position: absolute;
  width: 344px;
  height: 216px;
  top: 24px;
  left: 24px;
  font-size: 0px;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 58;
  border-radius: 4px;
}
.text-2b {
  display: block;
  position: relative;
  height: 21px;
  margin: 24px 0 0 24px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 115;
}
.text-2c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 269px;
  height: 63px;
  margin: 32px 0 0 24px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  z-index: 116;
}
.section-13 {
  position: relative;
  width: 342px;
  height: 54px;
  margin: 23px 0 0 0;
  background: #f2f2f2;
  z-index: 59;
  overflow: visible auto;
}
.section-14 {
  position: relative;
  width: 77px;
  height: 30px;
  margin: 12px 0 0 249px;
  background: #2a3a8d;
  z-index: 60;
  border-radius: 4px;
}
.text-2d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 21px;
  top: 4px;
  left: 16px;
  color: #f6f7fb;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 117;
}
.box-b {
  position: absolute;
  width: 344px;
  height: 216px;
  top: 24px;
  left: 771px;
  font-size: 0px;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 64;
  border-radius: 4px;
}
.text-2e {
  display: block;
  position: relative;
  height: 21px;
  margin: 24px 0 0 24px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.text-2f {
  display: block;
  position: relative;
  height: 21px;
  margin: 30px 0 0 24px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 122;
}
.wrapper-14 {
  position: relative;
  width: 342px;
  height: 54px;
  margin: 67px 0 0 0;
  background: #f2f2f2;
  z-index: 65;
  overflow: visible auto;
}
.group-e {
  position: relative;
  width: 77px;
  height: 30px;
  margin: 12px 0 0 250px;
  background: #2a3a8d;
  z-index: 66;
  border-radius: 4px;
}
.text-30 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 21px;
  top: 4px;
  left: 16px;
  color: #f6f7fb;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 123;
}
.box-c {
  position: relative;
  width: 101px;
  height: 26px;
  margin: 42px 0 0 65px;
  z-index: 125;
}
.text-31 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  left: 37px;
  color: #2a3a8d;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 125;
}
.group-f {
  position: absolute;
  width: 101px;
  height: 24px;
  top: 2px;
  left: 0;
  border: 1px solid #2a3a8d;
  z-index: 67;
  border-radius: 4px;
}
.text-32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: -1px;
  left: 20px;
  color: #2a3a8d;
  font-family: Material Icons, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 124;
}
.text-33 {
  display: block;
  position: relative;
  height: 21px;
  margin: 65px 0 0 65px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 126;
}
.text-34 {
  display: block;
  position: relative;
  height: 21px;
  margin: 25px 0 0 81px;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.box-d {
  position: relative;
  width: 1270px;
  height: 116px;
  margin: 64px 0 0 0;
  background: #eeeff6;
  z-index: 68;
  overflow: visible auto;
}
.wrapper-15 {
  position: relative;
  width: 1140px;
  height: 42px;
  margin: 16px 0 0 65px;
  z-index: 135;
}
.group-10 {
  position: absolute;
  width: 137px;
  height: 42px;
  top: 0;
  left: 0;
  z-index: 69;
  overflow: hidden;
}
.wrapper-16 {
  position: relative;
  width: 143px;
  height: 42px;
  margin: 0px 0 0 0;
  z-index: 70;
}
.img-3 {
  position: absolute;
  width: 17.83%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets4/images/634d36d5-04ee-4069-9346-009b0aaffec1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 75;
}
.wrapper-17 {
  position: absolute;
  width: 74.13%;
  height: 71.43%;
  top: 19.8%;
  left: 25.87%;
  z-index: 71;
}
.group-11 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 72;
}
.text-35 {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.text-36 {
  display: block;
  position: relative;
  height: 12px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.text-37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 623px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}
.text-38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 680px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 129;
}
.text-39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 775px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.text-3a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 908px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 131;
}
.text-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 962px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 132;
}
.text-3c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 1058px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 133;
}
.text-3d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 21px;
  left: 903px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 134;
}
.text-3e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 21px;
  left: 1071px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 135;
}
.text-3f {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 598px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 136;
}
.text-40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 665px;
  height: 42px;
  top: 997px;
  left: 615px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  z-index: 137;
}
