:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 1407px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.wrapper {
  position: relative;
  width: 1270px;
  height: 1407px;
  margin: 0 0 0 0;
  background: #f6f7fb;
}
.group {
  position: absolute;
  width: 1270px;
  height: 1407px;
  top: 0;
  left: 0;
  background: #f6f7fb;
  z-index: 1;
}
.box {
  position: relative;
  width: 1270px;
  height: 74px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 3;
}
.box-2 {
  position: absolute;
  width: 145px;
  height: 30px;
  top: 0;
  left: 635px;
  background: #ffffff;
  z-index: 2;
}
.img {
  position: absolute;
  width: 236px;
  height: 45px;
  top: 14px;
  left: 65px;
  background: url(./assets4/images/79419203-1024-4219-bf42-34888f3c1a3d.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  overflow: hidden;
}
.box-3 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 20px;
  left: 971px;
  z-index: 12;
  border-radius: 6px;
}
.wrapper-2 {
  position: relative;
  width: 34px;
  height: 34px;
  margin: 2px 0 0 2px;
  z-index: 13;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 20px;
  left: 1151px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 23px;
  left: 1017px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 119;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 23px;
  left: 1135px;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 120;
}
.box-4 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 667px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 5;
}
.wrapper-3 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 788px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 6;
}
.wrapper-4 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 28px;
  left: 908px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  z-index: 10;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 31px;
  left: 708px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 31px;
  left: 754px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 44px;
  height: 21px;
  top: 32px;
  left: 587px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 114;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 32px;
  left: 634px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 115;
}
.img-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 806px;
  background: url(./assets4/images/4872d740-8e45-4ff8-9815-12fc371f33e7.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  overflow: hidden;
}
.img-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 840px;
  background: url(./assets4/images/753cba97-3eac-4ea7-afdd-5fdd45899496.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
}
.pic {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 33px;
  left: 874px;
  background: url(./assets4/images/fe61a7b7-6466-428d-bf5e-3ee08e138a47.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  overflow: hidden;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 33px;
  left: 684px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 34px;
  left: 566px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 113;
}
.img-4 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 35px;
  left: 925px;
  background: url(./assets4/images/a1fbac11-3836-4bac-b7a7-3b48b8ced0bc.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  overflow: hidden;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 45px;
  left: 1017px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 122;
}
.section {
  position: relative;
  width: 1270px;
  height: 51px;
  margin: 0 0 0 0;
  background: #2a3a8d;
  z-index: 14;
}
.section-2 {
  position: absolute;
  width: 157px;
  height: 47px;
  top: 0;
  left: 294px;
  z-index: 19;
  border-radius: 4px 4px 0 0;
}
.wrapper-5 {
  position: absolute;
  width: 157px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 20;
  border-radius: 4px 4px 0 0;
}
.text-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 126;
}
.text-c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 133px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.box-5 {
  position: absolute;
  width: 134px;
  height: 47px;
  top: 0;
  left: 632px;
  z-index: 23;
  border-radius: 4px 4px 0 0;
}
.group-2 {
  position: absolute;
  width: 134px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 24;
  border-radius: 4px 4px 0 0;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.text-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 109px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 131;
}
.wrapper-6 {
  position: absolute;
  width: 101px;
  height: 47px;
  top: 0;
  left: 813px;
  z-index: 25;
  border-radius: 4px 4px 0 0;
}
.section-3 {
  position: absolute;
  width: 101px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 26;
  border-radius: 4px 4px 0 0;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 132;
}
.text-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 77px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 133;
}
.wrapper-7 {
  position: absolute;
  width: 85px;
  height: 47px;
  top: 0;
  left: 499px;
  z-index: 21;
  border-radius: 4px 4px 0 0;
}
.section-4 {
  position: absolute;
  width: 85px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 22;
  border-radius: 4px 4px 0 0;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 61px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 129;
}
.wrapper-8 {
  position: absolute;
  width: 71px;
  height: 47px;
  top: 0;
  left: 65px;
  z-index: 15;
  border-radius: 4px 4px 0 0;
}
.section-5 {
  position: absolute;
  width: 71px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 16;
  border-radius: 4px 4px 0 0;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 123;
}
.group-3 {
  position: absolute;
  width: 62px;
  height: 47px;
  top: 0;
  left: 184px;
  z-index: 17;
  border-radius: 4px 4px 0 0;
}
.section-6 {
  position: absolute;
  width: 62px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 18;
  border-radius: 4px 4px 0 0;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 124;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12px;
  top: 18px;
  left: 38px;
  color: #ffffff;
  font-family: Material Icons, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 125;
}
.wrapper-9 {
  position: absolute;
  width: 32px;
  height: 47px;
  top: 0;
  left: 962px;
  z-index: 27;
  border-radius: 4px 4px 0 0;
}
.group-4 {
  position: absolute;
  width: 32px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 28;
  border-radius: 4px 4px 0 0;
}
.text-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 15px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  white-space: nowrap;
  z-index: 134;
}
.text-17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 9px;
  left: 1158px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 138;
}
.text-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1129px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 136;
}
.text-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1147px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 137;
}
.text-1a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1176px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 139;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 11px;
  left: 1194px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 140;
}
.text-1c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 12px;
  left: 1045px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 135;
}
.box-6 {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1126px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 29;
}
.wrapper-a {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1144px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 30;
}
.wrapper-b {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1173px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 31;
}
.wrapper-c {
  position: absolute;
  width: 14px;
  height: 23px;
  top: 13px;
  left: 1191px;
  background: rgba(0, 0, 0, 0.18);
  z-index: 32;
}
.section-7 {
  position: relative;
  width: 1270px;
  height: 72px;
  margin: 0 0 0 0;
  background: #f6f7fb;
  z-index: 33;
  overflow: visible auto;
}
.section-8 {
  position: relative;
  width: 1140px;
  height: 28px;
  margin: 12px 0 0 65px;
  background: #f6f7fb;
  z-index: 34;
  border-radius: 4px;
}
.text-1d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 0;
  color: #076bcf;
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 141;
}
.text-1e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 77px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 142;
}
.img-5 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 58px;
  background: url(./assets4/images/8fbffd20-c7e4-485a-9107-0b0daadcaa90.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  overflow: hidden;
}
.wrapper-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 428px;
  height: 37px;
  margin: 0 0 0 65px;
  z-index: 38;
}
.wrapper-e {
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 37px;
  background: #ffffff;
  border: 3px solid #076bcf;
  z-index: 36;
  border-radius: 4px;
}
.text-1f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 10px;
  height: 35px;
  top: -1px;
  left: 9px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  z-index: 144;
}
.box-7 {
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 37px;
  background: #ffffff;
  border: 3px solid rgba(42, 58, 141, 0.18);
  z-index: 37;
  border-radius: 4px;
}
.text-20 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 10px;
  height: 35px;
  top: -1px;
  left: 9px;
  color: rgba(0, 0, 0, 0.18);
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  z-index: 146;
}
.section-9 {
  flex-shrink: 0;
  position: relative;
  width: 34px;
  height: 37px;
  background: #ffffff;
  border: 3px solid rgba(42, 58, 141, 0.18);
  z-index: 38;
  border-radius: 4px;
}
.text-21 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 10px;
  height: 35px;
  top: -1px;
  left: 9px;
  color: rgba(0, 0, 0, 0.18);
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  z-index: 148;
}
.section-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 478px;
  height: 42px;
  margin: 10px 0 0 65px;
  z-index: 147;
}
.text-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 102px;
  height: 42px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: capitalize;
  z-index: 143;
}
.text-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 110px;
  height: 42px;
  color: rgba(0, 0, 0, 0.18);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: capitalize;
  z-index: 145;
}
.text-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 84px;
  height: 42px;
  color: rgba(0, 0, 0, 0.18);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-transform: capitalize;
  z-index: 147;
}
.text-25 {
  display: block;
  position: relative;
  height: 21px;
  margin: 27px 0 0 65px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.15px;
  z-index: 149;
}
.section-b {
  position: relative;
  width: 141px;
  height: 21px;
  margin: 16px 0 0 65px;
  z-index: 151;
}
.text-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 150;
}
.text-27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 44px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.15px;
  z-index: 151;
}
.text-28 {
  display: block;
  position: relative;
  height: 21px;
  margin: 24px 0 0 65px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 152;
}
.text-29 {
  display: block;
  position: relative;
  height: 21px;
  margin: 8px 0 0 65px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.15px;
  z-index: 153;
}
.box-8 {
  position: relative;
  width: 1140px;
  height: 626px;
  margin: 24px 0 0 65px;
  background: #ffffff;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 39;
  overflow: visible auto;
  border-radius: 4px;
}
.box-9 {
  position: relative;
  width: 1139px;
  height: 76px;
  margin: 1px 0 0 1px;
  z-index: 41;
  overflow: visible auto;
}
.section-c {
  position: relative;
  width: 337px;
  height: 2px;
  margin: 14px 0 0 684.802px;
  z-index: 57;
}
.section-d {
  position: absolute;
  width: 5px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 53;
}
.section-e {
  position: relative;
  width: 5px;
  height: 1px;
  margin: 1.333px 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 44;
}
.box-a {
  position: absolute;
  width: 332px;
  height: 2px;
  top: 0;
  left: 5px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 57;
}
.box-b {
  position: relative;
  width: 332px;
  height: 1px;
  margin: 1.333px 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 48;
}
.wrapper-f {
  position: relative;
  width: 433.198px;
  height: 43px;
  margin: 0 0 0 682.802px;
  z-index: 61;
}
.section-f {
  position: absolute;
  width: 2px;
  height: 43px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 54;
}
.group-5 {
  position: relative;
  width: 1px;
  height: 43px;
  margin: 0 0 0 1.333px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 45;
}
.section-10 {
  position: absolute;
  width: 337px;
  height: 43px;
  top: 0;
  left: 2.198px;
  z-index: 42;
  border-radius: 4px;
}
.box-c {
  position: absolute;
  width: 337px;
  height: 43px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 43;
  border-radius: 4px;
}
.box-d {
  position: absolute;
  width: 337px;
  height: 43px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 52;
  border-radius: 4px;
}
.group-6 {
  position: absolute;
  width: 332px;
  height: 43px;
  top: 0;
  left: 5px;
  z-index: 51;
  border-radius: 0 5px 5px 0;
}
.group-7 {
  position: absolute;
  width: 332px;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 60;
  border-radius: 0 5px 5px 0;
}
.text-2a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 9px;
  left: 299px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 21px;
  font-weight: 400;
  line-height: 23.625px;
  text-align: left;
  white-space: nowrap;
  z-index: 154;
}
.group-8 {
  position: absolute;
  width: 5px;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 47;
  border-radius: 5px 0 0 5px;
}
.section-11 {
  position: absolute;
  width: 5px;
  height: 43px;
  top: 0;
  left: 0;
  z-index: 56;
  border-radius: 5px 0 0 5px;
}
.section-12 {
  position: absolute;
  width: 2px;
  height: 43px;
  top: 0;
  left: 339px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 58;
}
.wrapper-10 {
  position: relative;
  width: 1px;
  height: 43px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 49;
}
.box-e {
  position: absolute;
  width: 87px;
  height: 39px;
  top: 3px;
  left: 346.198px;
  z-index: 61;
  border-radius: 4px;
}
.wrapper-11 {
  position: absolute;
  width: 87px;
  height: 39px;
  top: 0;
  left: 0;
  z-index: 62;
  border-radius: 4px;
}
.text-2b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 20px;
  top: 12px;
  left: 37px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 156;
}
.text-2c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12px;
  left: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Material Icons, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 155;
}
.group-9 {
  position: relative;
  width: 337px;
  height: 2px;
  margin: 0 0 0 684.802px;
  z-index: 59;
}
.box-f {
  position: absolute;
  width: 5px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 55;
}
.box-10 {
  position: relative;
  width: 5px;
  height: 1px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 46;
}
.wrapper-12 {
  position: absolute;
  width: 332px;
  height: 2px;
  top: 0;
  left: 5px;
  background: rgba(0, 0, 0, 0.38);
  z-index: 59;
}
.group-a {
  position: relative;
  width: 332px;
  height: 1px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0.38);
  z-index: 50;
}
.box-11 {
  position: relative;
  width: 1138.667px;
  height: 1px;
  margin: 14.667px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 40;
}
.box-12 {
  position: relative;
  width: 1139px;
  height: 91px;
  margin: 1px 0 0 1px;
  z-index: 64;
  overflow: visible auto;
}
.wrapper-13 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: 24px 0 0 50px;
  z-index: 161;
}
.text-2d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 157;
}
.text-2e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 159;
}
.text-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 33px;
  height: 21px;
  top: 0;
  left: 1031px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 161;
}
.section-13 {
  position: relative;
  width: 18px;
  height: 18px;
  margin: -8px 0 0 24px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  z-index: 65;
}
.box-13 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: -10px 0 0 50px;
  z-index: 162;
}
.text-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 158;
}
.text-31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 160;
}
.text-32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 25px;
  height: 21px;
  top: 0;
  left: 1039px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 162;
}
.section-14 {
  position: relative;
  width: 1139px;
  height: 91px;
  margin: 0 0 0 1px;
  z-index: 67;
  overflow: visible auto;
}
.group-b {
  position: relative;
  width: 1138.667px;
  height: 1px;
  margin: 0.33px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 63;
}
.section-15 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: 22.667px 0 0 50px;
  z-index: 167;
}
.text-33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 163;
}
.text-34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 165;
}
.text-35 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 33px;
  height: 21px;
  top: 0;
  left: 1031px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 167;
}
.section-16 {
  position: relative;
  width: 18px;
  height: 18px;
  margin: -8px 0 0 24px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  z-index: 68;
}
.group-c {
  position: relative;
  width: 1065px;
  height: 21px;
  margin: -10px 0 0 50px;
  z-index: 168;
}
.text-36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 164;
}
.text-37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 166;
}
.text-38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 25px;
  height: 21px;
  top: 0;
  left: 1040px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 168;
}
.wrapper-14 {
  position: relative;
  width: 1139px;
  height: 91px;
  margin: 1px 0 0 1px;
  z-index: 70;
  overflow: visible auto;
}
.wrapper-15 {
  position: relative;
  width: 1138.667px;
  height: 1px;
  margin: 0px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 66;
}
.section-17 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: 23px 0 0 50px;
  z-index: 173;
}
.text-39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 169;
}
.text-3a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 171;
}
.text-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 33px;
  height: 21px;
  top: 0;
  left: 1031px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 173;
}
.section-18 {
  position: relative;
  width: 18px;
  height: 18px;
  margin: -8px 0 0 24px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  z-index: 71;
}
.box-14 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: -10px 0 0 50px;
  z-index: 174;
}
.text-3c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 170;
}
.text-3d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 172;
}
.text-3e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 24px;
  height: 21px;
  top: 0;
  left: 1040px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 174;
}
.box-15 {
  position: relative;
  width: 1139px;
  height: 91px;
  margin: 1px 0 0 1px;
  z-index: 73;
  overflow: visible auto;
}
.wrapper-16 {
  position: relative;
  width: 1138.667px;
  height: 1px;
  margin: -0.33px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 69;
}
.wrapper-17 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: 23.333px 0 0 50px;
  z-index: 179;
}
.text-3f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 175;
}
.text-40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 177;
}
.text-41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 33px;
  height: 21px;
  top: 0;
  left: 1031px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 179;
}
.group-d {
  position: relative;
  width: 18px;
  height: 18px;
  margin: -8px 0 0 24px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  z-index: 74;
}
.box-16 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: -10px 0 0 50px;
  z-index: 180;
}
.text-42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 176;
}
.text-43 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 178;
}
.text-44 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 24px;
  height: 21px;
  top: 0;
  left: 1040px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 180;
}
.section-19 {
  position: relative;
  width: 1139px;
  height: 91px;
  margin: 0 0 0 1px;
  z-index: 76;
  overflow: visible auto;
}
.section-1a {
  position: relative;
  width: 1138.667px;
  height: 1px;
  margin: 0.33px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 72;
}
.box-17 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: 22.667px 0 0 50px;
  z-index: 185;
}
.text-45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 181;
}
.text-46 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 183;
}
.text-47 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 33px;
  height: 21px;
  top: 0;
  left: 1031px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 185;
}
.group-e {
  position: relative;
  width: 18px;
  height: 18px;
  margin: -8px 0 0 24px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  z-index: 77;
}
.wrapper-18 {
  position: relative;
  width: 1064px;
  height: 21px;
  margin: -10px 0 0 50px;
  z-index: 186;
}
.text-48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 182;
}
.text-49 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 519px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 184;
}
.text-4a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 25px;
  height: 21px;
  top: 0;
  left: 1039px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  white-space: nowrap;
  z-index: 186;
}
.section-1b {
  position: relative;
  width: 1139px;
  height: 95px;
  margin: 1px 0 0 1px;
  background: #ffffff;
  border: 1px solid rgba(42, 58, 141, 0.18);
  z-index: 78;
  overflow: visible auto;
  border-radius: 4px;
}
.box-18 {
  position: relative;
  width: 1138.667px;
  height: 1px;
  margin: 0px 0 0 -0.33px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 75;
}
.group-f {
  position: relative;
  width: 60px;
  height: 2px;
  margin: 24.667px 0 0 132.448px;
  z-index: 94;
}
.box-19 {
  position: absolute;
  width: 5px;
  height: 2px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 90;
}
.group-10 {
  position: relative;
  width: 5px;
  height: 1px;
  margin: 1.333px 0 0 0;
  background: #ffffff;
  z-index: 81;
}
.group-11 {
  position: absolute;
  width: 55px;
  height: 2px;
  top: 0;
  left: 5px;
  background: #ffffff;
  z-index: 94;
}
.section-1c {
  position: relative;
  width: 55px;
  height: 1px;
  margin: 1.333px 0 0 0;
  background: #ffffff;
  z-index: 85;
}
.group-12 {
  position: relative;
  width: 1090px;
  height: 44.333px;
  margin: 1px 0 0 24px;
  z-index: 193;
}
.wrapper-19 {
  position: absolute;
  width: 2px;
  height: 44px;
  top: 0;
  left: 106.448px;
  background: #ffffff;
  z-index: 91;
}
.section-1d {
  position: relative;
  width: 1px;
  height: 44px;
  margin: 0 0 0 1.333px;
  background: #ffffff;
  z-index: 82;
}
.box-1a {
  position: absolute;
  width: 2px;
  height: 44px;
  top: 0;
  left: 168.448px;
  background: #ffffff;
  z-index: 95;
}
.section-1e {
  position: relative;
  width: 1px;
  height: 44px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 86;
  overflow: visible auto;
}
.group-13 {
  position: relative;
  width: 1px;
  height: 21px;
  margin: 10.5px 0 0 -0.67px;
  background: rgba(42, 58, 141, 0.18);
  z-index: 99;
}
.group-14 {
  position: absolute;
  width: 60px;
  height: 44px;
  top: 0.33px;
  left: 108px;
  z-index: 79;
  border-radius: 4px;
}
.wrapper-1a {
  position: absolute;
  width: 60px;
  height: 44px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 80;
  border-radius: 4px;
}
.section-1f {
  position: absolute;
  width: 60px;
  height: 44px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 89;
  border-radius: 4px;
}
.wrapper-1b {
  position: absolute;
  width: 55px;
  height: 44px;
  top: 0;
  left: 5px;
  z-index: 88;
  border-radius: 0 5px 5px 0;
}
.group-15 {
  position: absolute;
  width: 55px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 97;
  border-radius: 0 5px 5px 0;
}
.text-4b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 9px;
  left: 6px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 188;
}
.wrapper-1c {
  position: absolute;
  width: 8px;
  height: 5px;
  top: 19px;
  left: 33px;
  z-index: 98;
  border-radius: 8px;
}
.group-16 {
  position: absolute;
  width: 5px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 84;
  border-radius: 5px 0 0 5px;
}
.section-20 {
  position: absolute;
  width: 5px;
  height: 44px;
  top: 0;
  left: 0;
  z-index: 93;
  border-radius: 5px 0 0 5px;
}
.text-4c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 2.333px;
  left: 930px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 190;
}
.text-4d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 2.333px;
  left: 942px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 191;
}
.text-4e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 2.333px;
  left: 959px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 192;
}
.img-6 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 6.333px;
  left: 881px;
  background: url(./assets4/images/c4d02df7-804b-4c7e-a282-797f5a5b023e.png)
    no-repeat center;
  background-size: cover;
  z-index: 102;
  overflow: hidden;
}
.text-4f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 10.333px;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 187;
}
.group-17 {
  position: absolute;
  width: 114px;
  height: 21px;
  top: 10.333px;
  left: 168px;
  z-index: 100;
}
.text-50 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 9px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 189;
}
.pic-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11.333px;
  left: 841px;
  background: url(./assets4/images/793e52a4-bf6b-49e0-ad28-c8105fe8f4ac.png)
    no-repeat center;
  background-size: cover;
  z-index: 101;
  overflow: hidden;
}
.pic-3 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11.333px;
  left: 1026px;
  background: url(./assets4/images/8ddee394-2ab3-4fc4-aa89-eede9f65102f.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
  overflow: hidden;
}
.pic-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11.333px;
  left: 1066px;
  background: url(./assets4/images/2fc68a34-f187-44a0-aeaf-6c4bb2b53eca.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
  overflow: hidden;
}
.text-51 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 23.333px;
  left: 930px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.25px;
  z-index: 193;
}
.group-18 {
  position: relative;
  width: 60px;
  height: 2px;
  margin: 0.67px 0 0 132.448px;
  z-index: 96;
}
.wrapper-1d {
  position: absolute;
  width: 5px;
  height: 2px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 92;
}
.group-19 {
  position: relative;
  width: 5px;
  height: 1px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 83;
}
.box-1b {
  position: absolute;
  width: 55px;
  height: 2px;
  top: 0;
  left: 5px;
  background: #ffffff;
  z-index: 96;
}
.wrapper-1e {
  position: relative;
  width: 55px;
  height: 1px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 87;
}
.section-21 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1055px;
  height: 26px;
  margin: 44px 0 0 108px;
  z-index: 195;
}
.text-52 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 76px;
  height: 21px;
  color: #2a3a8d;
  font-family: Roboto, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 20.96px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 194;
}
.text-53 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 114px;
  height: 25px;
  color: #2a3a8d;
  font-family: Roboto, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  z-index: 195;
}
.group-1a {
  position: relative;
  width: 1270px;
  height: 116px;
  margin: 126px 0 0 0;
  background: #eeeff6;
  z-index: 105;
  overflow: visible auto;
}
.box-1c {
  position: relative;
  width: 1140px;
  height: 42px;
  margin: 16px 0 0 65px;
  z-index: 203;
}
.group-1b {
  position: absolute;
  width: 137px;
  height: 42px;
  top: 0;
  left: 0;
  z-index: 106;
  overflow: hidden;
}
.section-22 {
  position: relative;
  width: 143px;
  height: 42px;
  margin: 0px 0 0 0;
  z-index: 107;
}
.pic-5 {
  position: absolute;
  width: 17.83%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets4/images/926aee06-1240-4b83-ae26-80c3a7db85b3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 112;
}
.wrapper-1f {
  position: absolute;
  width: 74.13%;
  height: 71.43%;
  top: 19.8%;
  left: 25.87%;
  z-index: 108;
}
.group-1c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 109;
}
.text-54 {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.text-55 {
  display: block;
  position: relative;
  height: 12px;
  margin: 0 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 111;
}
.text-56 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 623px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 196;
}
.text-57 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 680px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 197;
}
.text-58 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 775px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 198;
}
.text-59 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 908px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 199;
}
.text-5a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 962px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 200;
}
.text-5b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 1058px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 201;
}
.text-5c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 21px;
  left: 903px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 202;
}
.text-5d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 21px;
  left: 1071px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 203;
}
.text-5e {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 598px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 204;
}
.text-5f {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 659px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 205;
}
