
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.frame-E36 {
  width: 100%;
  height: 141.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-eW8 {
    width: 127rem;
    height: 133.3rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f6f7fb;
  }
  .rectangle-MvL {
    top: 0;
    background-color: #f6f7fb;
    width: 127rem;
    height: 133.3rem;
    position: absolute;
    left: 0;
  }
  .rectangle-78p {
    top: 0;
    background-color: #ffffff;
    width: 14.5rem;
    height: 3rem;
    position: absolute;
    left: 63.5rem;
  }
  .rectangle-TCg {
    top: 0;
    background-color: #ffffff;
    width: 127rem;
    height: 9rem;
    position: absolute;
    left: 0;
  }
  .image-CRA {
    top: 2.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 23.6001rem;
    height: 4.5001rem;
    position: absolute;
    left: 6.5rem;
  }
  .rectangle-v6G {
    border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
    box-sizing: border-box;
    width: 0.1rem;
    height: 2.6rem;
    position: absolute;
    left: 93.3rem;
    top: 1.6rem;
  }
  .rectangle-CCC {
    width: 0.1rem;
    height: 2.6rem;
    position: absolute;
    left: 105.4rem;
    top: 1.6rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
    box-sizing: border-box;
  }
  .image-iRS {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 107.2rem;
    top: 1.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .image-2h2 {
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 110.6rem;
    top: 1.9rem;
    object-fit: contain;
  }
  .image-MjJ {
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 114rem;
    top: 1.9rem;
    object-fit: contain;
  }
  .rectangle-VqW {
    top: 1.6rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
    box-sizing: border-box;
    width: 0.1rem;
    height: 2.6rem;
    position: absolute;
    left: 117.4rem;
  }
  .image-pct {
    top: 2rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.3999rem;
    height: 1.3999rem;
    position: absolute;
    left: 119.1rem;
  }
  .rectangle-wxQ {
    position: absolute;
    left: 0;
    top: 9rem;
    background-color: #2a3a8d;
    width: 127rem;
    height: 5.1rem;
  }
  .rectangle-HWU {
    width: 3.7615rem;
    height: 0.2667rem;
    position: absolute;
    left: 6.5rem;
    top: 13.8823rem;
    background-color: #ffffff;
  }
  .rectangle-pmJ {
    width: 3.8rem;
    height: 4.8rem;
    position: absolute;
    left: 6.5rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-MWL {
    width: 3.8rem;
    height: 4.8rem;
    position: absolute;
    left: 6.5rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-Uax {
    background-color: #000000;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 3.8rem;
    height: 4.8rem;
    position: absolute;
    left: 6.5rem;
    top: 9rem;
  }
  .rectangle-zpC {
    width: 12.4rem;
    height: 4.7rem;
    position: absolute;
    left: 15.1rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-WGk {
    position: absolute;
    left: 15.1rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.4rem;
    height: 4.7rem;
  }
  .rectangle-R8p {
    height: 4.7rem;
    position: absolute;
    left: 15.1rem;
    top: 9.1rem;
    background-color: #000000;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.4rem;
  }
  .rectangle-kB6 {
    left: 32.2rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 9rem;
    height: 4.7rem;
    position: absolute;
  }
  .rectangle-Usn {
    border-radius: 0.4rem 0.4rem 0 0;
    width: 9rem;
    height: 4.7rem;
    position: absolute;
    left: 32.2rem;
    top: 9.1rem;
  }
  .rectangle-DKa {
    position: absolute;
    left: 32.2rem;
    top: 9.1rem;
    background-color: #000000;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 9rem;
    height: 4.7rem;
  }
  .rectangle-9U8 {
    width: 12.1rem;
    height: 4.7rem;
    position: absolute;
    left: 46.1rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-V2C {
    height: 4.7rem;
    position: absolute;
    left: 46.1rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.1rem;
  }
  .rectangle-ChJ {
    height: 4.7rem;
    position: absolute;
    left: 46.1rem;
    top: 9.1rem;
    background-color: #000000;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.1rem;
  }
  .rectangle-XUg {
    width: 20rem;
    height: 4.7rem;
    position: absolute;
    left: 62.9rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-3xp {
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 20rem;
    height: 4.7rem;
    position: absolute;
    left: 62.9rem;
  }
  .rectangle-z7N {
    border-radius: 0.4rem 0.4rem 0 0;
    width: 20rem;
    height: 4.7rem;
    position: absolute;
    left: 62.9rem;
    top: 9.1rem;
    background-color: #000000;
  }
  .rectangle-WrQ {
    width: 7rem;
    height: 5.1rem;
    position: absolute;
    left: 87.7rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-Foz {
    height: 5.1rem;
    position: absolute;
    left: 87.7rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 7rem;
  }
  .rectangle-BxY {
    top: 9rem;
    background-color: #000000;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 7rem;
    height: 5.1rem;
    position: absolute;
    left: 87.7rem;
  }
  .rectangle-7bJ {
    height: 5.1rem;
    position: absolute;
    left: 99.5rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 2.9rem;
  }
  .rectangle-3Ux {
    position: absolute;
    left: 99.5rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 2.9rem;
    height: 5.1rem;
  }
  .rectangle-ytQ {
    position: absolute;
    left: 99.5rem;
    top: 9rem;
    background-color: #000000;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 2.9rem;
    height: 5.1rem;
  }
  .rectangle-vHr {
    top: 19.4rem;
    border: solid 0.1rem rgba(42, 58, 141, 0.1800000072);
    box-sizing: border-box;
    border-radius: 0.4rem;
    width: 117rem;
    height: 62.5rem;
    position: absolute;
    left: 5rem;
  }
  .rectangle-3NU {
    height: 62.3rem;
    position: absolute;
    left: 5.1rem;
    top: 19.5rem;
    background-color: #ffffff;
    border-radius: 0.4rem;
    width: 48.7rem;
  }
  .rectangle-N9r {
    left: 11.5rem;
    top: 36rem;
    border-radius: 0.4rem;
    width: 33.7rem;
    height: 4.3rem;
    position: absolute;
  }
  .rectangle-JJQ {
    width: 33.7rem;
    height: 4.3rem;
    position: absolute;
    left: 11.5rem;
    top: 36rem;
    background-color: #ffffff;
    border-radius: 0.4rem;
  }
  .rectangle-Rtp {
    width: 0.5rem;
    height: 0.1rem;
    position: absolute;
    left: 11.4667rem;
    top: 35.8896rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-N3N {
    height: 4.3rem;
    position: absolute;
    left: 11.4rem;
    top: 35.9563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.1rem;
  }
  .rectangle-Vdn {
    position: absolute;
    left: 11.4667rem;
    top: 40.2563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.5rem;
    height: 0.1rem;
  }
  .rectangle-2tc {
    top: 36rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 0.5rem;
    height: 4.3rem;
    position: absolute;
    left: 11.5rem;
  }
  .rectangle-mbJ {
    width: 33.2rem;
    height: 0.1rem;
    position: absolute;
    left: 11.9667rem;
    top: 35.8896rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-hzk {
    width: 0.1rem;
    height: 4.3rem;
    position: absolute;
    left: 45.1667rem;
    top: 35.9563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-eQC {
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 33.2rem;
    height: 0.1rem;
    position: absolute;
    left: 11.9667rem;
    top: 40.2563rem;
  }
  .rectangle-aoe {
    width: 33.2rem;
    height: 4.3rem;
    position: absolute;
    left: 12rem;
    top: 36rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .rectangle-iex {
    border-radius: 0.4rem;
    width: 33.7rem;
    height: 4.3rem;
    position: absolute;
    left: 11.5rem;
    top: 36rem;
    background-color: #ffffff;
  }
  .rectangle-TcY {
    left: 11.4667rem;
    top: 35.7563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.5rem;
    height: 0.2rem;
    position: absolute;
  }
  .rectangle-nep {
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.2rem;
    height: 4.3rem;
    position: absolute;
    left: 11.2667rem;
    top: 35.9563rem;
  }
  .rectangle-8Tn {
    width: 0.5rem;
    height: 0.2rem;
    position: absolute;
    left: 11.4667rem;
    top: 40.2563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-46Y {
    width: 0.5rem;
    height: 4.3rem;
    position: absolute;
    left: 11.5rem;
    top: 36rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .rectangle-PPi {
    left: 11.9667rem;
    top: 35.7563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 33.2rem;
    height: 0.2rem;
    position: absolute;
  }
  .rectangle-igt {
    width: 0.2rem;
    height: 4.3rem;
    position: absolute;
    left: 45.1667rem;
    top: 35.9563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-4Vr {
    top: 40.2563rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 33.2rem;
    height: 0.2rem;
    position: absolute;
    left: 11.9667rem;
  }
  .rectangle-c1a {
    top: 36rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 33.2rem;
    height: 4.3rem;
    position: absolute;
    left: 12rem;
  }
  .rectangle-9XJ {
    position: absolute;
    left: 11.5rem;
    top: 44.5rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.200000003);
    background-color: rgba(0, 0, 0, 0.1800000072);
    border-radius: 0.4rem;
    width: 33.7rem;
    height: 1.8rem;
  }
  .image-48U {
    top: 44.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 30.8rem;
  }
  .rectangle-bPJ {
    height: 1.9rem;
    position: absolute;
    left: 11.5rem;
    top: 50.6rem;
    border: solid 0.1rem #2a3a8d;
    box-sizing: border-box;
    border-radius: 0.4rem;
    width: 33.7rem;
  }
  .image-XGx {
    position: absolute;
    left: 24.9rem;
    top: 50.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
  }
  .component1-sLp {
    height: 2.4rem;
    position: absolute;
    left: 12.3rem;
    top: 64.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .rectangle-c3W {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 11.5rem;
    top: 64.1rem;
    background-color: #000000;
  }
  .rectangle-wba {
    width: 68.2rem;
    height: 62.3rem;
    position: absolute;
    left: 53.8rem;
    top: 19.5rem;
    background-color: #fafbfd;
    border-radius: 0.4rem;
  }
  .image-5Bz {
    object-fit: contain;
    vertical-align: top;
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    left: 60.2rem;
    top: 33.1rem;
  }
  .image-1bS {
    left: 60.2rem;
    top: 47.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
  }
  .image-wzt {
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    left: 60.2rem;
    top: 57rem;
    overflow: hidden;

    .group-19572-tfE {
      height: 8.8987rem;
      position: absolute;
      left: 0.6414rem;
      top: 0.0987rem;
      width: 4.1959rem;

      .group-19146-Cfv {
        left: 0.1005rem;
        top: 1.1854rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.7986rem;
        height: 3.0083rem;
        position: absolute;
      }
      .group-19148-LGL {
        width: 2.1956rem;
        height: 8.8987rem;
        position: absolute;
        left: 0.9128rem;
        top: 0;

        .rectangle-3785-s1N {
          width: 2.1956rem;
          height: 0.6661rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .item--zrg {
          width: 0.9rem;
          height: 8.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 0.8141rem;
          top: 0.0987rem;
          color: #ffffff;
        }
        .path-16413-fC8 {
          width: 0.2266rem;
          height: 0.3671rem;
          position: absolute;
          left: 0.9873rem;
          top: 0.6522rem;
          object-fit: contain;
          vertical-align: top;
        }
        .id--nXe {
          height: 2.7rem;
          font-size: 1.1rem;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #ffffff;
          width: 0.8rem;
          position: absolute;
          left: 0.37rem;
          top: 0.148rem;
          font-weight: 400;
        }
      }
      .group-19148-UvG {
        height: 4.9583rem;
        position: absolute;
        left: 0;
        top: 1.0518rem;
        width: 1.1923rem;

        .rectangle-3785-RKi {
          width: 1.1923rem;
          height: 0.3669rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .item--Zgp {
          width: 0.5rem;
          position: absolute;
          left: 0.4441rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          height: 4.9rem;
          top: 0.0583rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .path-16413-fjr {
          top: 0.3509rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.1245rem;
          height: 0.2017rem;
          position: absolute;
          left: 0.5241rem;
        }
        .id--QBe {
          width: 0.5rem;
          position: absolute;
          font-size: 0.6rem;
          color: #ffffff;
          height: 1.5rem;
          left: 0.1834rem;
          top: 0.0917rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .group-19148-7br {
        position: absolute;
        left: 3.0036rem;
        top: 1.0518rem;
        width: 1.1923rem;
        height: 5.4337rem;

        .rectangle-3785-EwN {
          height: 0.3669rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 1.1923rem;
        }
        .item--Brc {
          top: 0.0337rem;
          font-size: 1.1rem;
          font-weight: 400;
          color: #ffffff;
          height: 5.4rem;
          left: 0.4255rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 0.6rem;
          position: absolute;
        }
        .path-16413-u1v {
          top: 0.3509rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.1245rem;
          height: 0.2017rem;
          position: absolute;
          left: 0.5413rem;
        }
        .id--2sE {
          font-family: Inter, 'Source Sans Pro';
          width: 0.5rem;
          position: absolute;
          font-size: 0.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          height: 1.5rem;
          left: 0.1834rem;
          top: 0.0917rem;
        }
      }
      .ellipse-867-wzC {
        top: 4.8846rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.3551rem;
        height: 0.3947rem;
        position: absolute;
        left: 0.2714rem;
      }
    }
    .rectangle-4140-ggt {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 5.6rem;
      height: 5.6rem;
    }
  }
  .rectangle-dc8 {
    position: absolute;
    left: 0;
    top: 88.2rem;
    background-color: #d8dbea;
    width: 127rem;
    height: 0.1rem;
  }
  .rectangle-miL {
    width: 127rem;
    height: 52.8rem;
    position: absolute;
    left: 0;
    top: 88.3rem;
    background-color: #1a2038;
  }
  .image-7nC {
    top: 124.3rem;
    border: solid 0.1rem #808080;
    box-sizing: border-box;
    border-radius: 0.4rem;
    width: 3.8rem;
    height: 3.8rem;
    position: absolute;
    left: 14.5rem;
  }
  .image-eGL {
    top: 124.3rem;
    border: solid 0.1rem #808080;
    box-sizing: border-box;
    border-radius: 0.4rem;
    width: 3.7rem;
    height: 3.8rem;
    position: absolute;
    left: 19.1rem;
  }
  .image-BGG {
    height: 3.7rem;
    position: absolute;
    left: 23.6rem;
    top: 124.3rem;
    border: solid 0.1rem #808080;
    box-sizing: border-box;
    border-radius: 0.4rem;
    width: 3.8rem;
  }
  .image-Jrg {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    left: 86.4rem;
    top: 102.1rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-F1E {
    width: 117rem;
    height: 0.1rem;
    position: absolute;
    left: 4.5rem;
    top: 129.6365rem;
    background-color: rgba(255, 255, 255, 0.6999999881);
  }
  .image-nG4 {
    left: 4.5rem;
    top: 132.2rem;
    overflow: hidden;
    width: 13.7rem;
    height: 4.2rem;
    position: absolute;

    .group-21215-jBJ {
      display: flex;
      align-items: center;
      width: 14.3503rem;
      height: 100%;

      .mask-group-138-4zG {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1999rem;
        width: 2.5504rem;
        height: 4.2001rem;
        object-fit: contain;
      }
      .group-21210-18p {
        margin: 0.8rem 0rem 0.3rem 0rem;
        width: 10.6rem;
        height: calc(100% - 1.1001rem);
        position: relative;
        flex-shrink: 0;

        .prefixindiagovin-vFn {
          font-size: 1.5rem;
          line-height: 1.2125;
          color: #d7d7d7;
          white-space: nowrap;
          width: 8.5rem;
          height: 1.9rem;
          top: 0;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 0;
        }
        .national-portal-of-india-q7r {
          width: 10.6rem;
          height: 1.3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #bebebe;
          position: absolute;
          left: 0;
          top: 1.8rem;
          font-size: 1rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .rectangle-XmN {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 119rem;
    top: 50.5rem;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5);
    background-color: #01578a;
  }
  .image-dZW {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 119rem;
    top: 50.5rem;
    background-color: #01578a;
  }
  .skip-to-main-content-Nmz {
    left: 64.3rem;
    top: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #076bcf;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.8rem;
    height: 2.1rem;
    position: absolute;
    line-height: 1.5;
  }
  .call-H8G {
    height: 1.8rem;
    left: 80.5rem;
    font-size: 1.8rem;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
    width: 7.2rem;
    position: absolute;
    top: 2.1rem;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    white-space: nowrap;
  }
  .call-us-adA {
    top: 1.9rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 4.4rem;
    left: 85.3rem;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6000000238);
    letter-spacing: 0.01rem;
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
  }
  .expandmore-3Fr {
    white-space: nowrap;
    height: 1.8rem;
    top: 1.9rem;
    left: 81rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6000000238);
    width: 19.8rem;
    position: absolute;
    font-family: Material Icons, 'Source Sans Pro';
  }
  .language-93z {
    left: 95rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    width: 14.4rem;
    position: absolute;
    top: 2.1rem;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.8rem;
  }
  .english-qxQ {
    position: absolute;
    top: 1.9rem;
    font-weight: 400;
    white-space: nowrap;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6000000238);
    font-family: Roboto, 'Source Sans Pro';
    width: 4.6rem;
    height: 2.1rem;
    left: 97.4rem;
    font-size: 1.4rem;
  }
  .expandmore-8wW {
    width: 19.8rem;
    height: 1.8rem;
    position: absolute;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    left: 102rem;
    top: 1.9rem;
    font-size: 1.8rem;
    line-height: 1;
  }
  .do-not-have-an-account-ShJ {
    top: 5.3rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    width: 15.3rem;
    height: 2.1rem;
    position: absolute;
    left: 99.3rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .register-jgQ {
    top: 5.3rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #076bcf;
    width: 5.2rem;
    height: 2.1rem;
    position: absolute;
    left: 114.9rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .home-SKv {
    width: 3.8rem;
    height: 2rem;
    position: absolute;
    left: 6.5rem;
    top: 10.6rem;
    line-height: 1.3600000654;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .individual-huf-wnU {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3600000654;
    height: 2rem;
    left: 15.1rem;
    top: 10.6rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.3rem;
    position: absolute;
  }
  .expandmore-TF2 {
    color: #ffffff;
    font-family: Material Icons, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    left: 25rem;
    top: 10.8rem;
    white-space: nowrap;
    width: 13.2rem;
    height: 1.2rem;
    position: absolute;
  }
  .company-kV2 {
    line-height: 1.3600000654;
    height: 2rem;
    position: absolute;
    left: 32.2rem;
    top: 10.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    width: 6rem;
    white-space: nowrap;
    font-family: Roboto, 'Source Sans Pro';
  }
  .expandmore-rnx {
    position: absolute;
    left: 38.9rem;
    top: 10.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    width: 13.2rem;
    height: 1.2rem;
    line-height: 1;
    color: #ffffff;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
  }
  .non-company-NFW {
    left: 46.1rem;
    top: 10.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3600000654;
    white-space: nowrap;
    height: 2rem;
    position: absolute;
    font-family: Roboto, 'Source Sans Pro';
    width: 8.9rem;
    color: #ffffff;
  }
  .expandmore-Grg {
    height: 1.2rem;
    position: absolute;
    left: 55.7rem;
    top: 10.8rem;
    font-weight: 400;
    font-family: Material Icons, 'Source Sans Pro';
    width: 13.2rem;
    font-size: 1.2rem;
    line-height: 1;
    color: #ffffff;
    white-space: nowrap;
  }
  .tax-professionals-others-nKE {
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    left: 62.9rem;
    top: 10.6rem;
    font-weight: 400;
    line-height: 1.3600000654;
    color: #ffffff;
    width: 16.8rem;
    position: absolute;
    font-size: 1.4rem;
  }
  .expandmore-5p8 {
    width: 13.2rem;
    line-height: 1;
    color: #ffffff;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.2rem;
    position: absolute;
    left: 80.5rem;
    top: 10.8rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .downloads-bnU {
    line-height: 1.3600000654;
    position: absolute;
    left: 87.7rem;
    top: 10.6rem;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
    height: 2rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  .help-81i {
    position: absolute;
    left: 99.5rem;
    top: 10.6rem;
    font-weight: 400;
    line-height: 1.3600000654;
    text-transform: capitalize;
    color: #ffffff;
    width: 2.9rem;
    white-space: nowrap;
    font-size: 1.4rem;
    font-family: Roboto, 'Source Sans Pro';
    height: 2rem;
  }
  .item--qgp {
    height: 2.1rem;
    position: absolute;
    left: 103.8rem;
    top: 16.5rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 0.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.025rem;
    color: #cd2026;
  }
  .indicates-mandatory-fields-kHz {
    height: 2.1rem;
    position: absolute;
    top: 16.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.025rem;
    width: 17.2rem;
    left: 104.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .login-r68 {
    height: 4rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    width: 7.5rem;
    position: absolute;
    left: 11.5rem;
    top: 25.8rem;
    line-height: 1.3300000509;
    letter-spacing: 0.015rem;
    color: rgba(0, 0, 0, 0.8700000048);
    white-space: nowrap;
  }
  .enter-your-user-id-jvc {
    width: 10.4rem;
    height: 2.1rem;
    position: absolute;
    left: 11.5rem;
    top: 33rem;
    line-height: 1.6153846154;
    color: rgba(0, 0, 0, 0.8700000048);
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
  }
  .item--bbS {
    color: #cd2026;
    font-family: Roboto, 'Source Sans Pro';
    width: 0.7rem;
    position: absolute;
    left: 23rem;
    top: 33rem;
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
    height: 2.1rem;
    line-height: 1.5;
  }
  .continue-heU {
    top: 44.4rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.1900000572;
    font-family: Roboto, 'Source Sans Pro';
    width: 6.4rem;
    position: absolute;
    left: 24.2rem;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.2399999946);
    height: 2rem;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  .back-cWY {
    top: 50.6rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.3rem;
    height: 2rem;
    position: absolute;
    left: 26.8rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2693333944;
    text-transform: capitalize;
    color: #2a3a8d;
  }
  .other-ways-to-access-your-account-LSY {
    font-weight: 400;
    line-height: 1.3125;
    color: rgba(0, 0, 0, 0.8700000048);
    white-space: nowrap;
    width: 26.3rem;
    top: 60.3rem;
    font-size: 1.6rem;
    letter-spacing: 0.044rem;
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    position: absolute;
    left: 11.5rem;
  }
  .net-banking-qeC {
    top: 65rem;
    font-size: 1.3rem;
    line-height: 1.6153846154;
    position: absolute;
    left: 15.9rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.3rem;
    height: 2.1rem;
  }
  .know-about-your-9un {
    height: 4rem;
    position: absolute;
    left: 60.2rem;
    top: 25.8rem;
    font-weight: 400;
    line-height: 2;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 15rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6000000238);
  }
  .user-id-sat {
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.5rem;
    position: absolute;
    top: 25.8rem;
    font-weight: 400;
    line-height: 2;
    height: 4rem;
    left: 76.1rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8700000048);
  }
  .pan-permanent-account-number-Bba {
    height: 2.1rem;
    left: 68.2rem;
    line-height: 1.5;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    width: 22.5rem;
    position: absolute;
    top: 33.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .individuals-5S4 {
    top: 35.2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
    height: 2.1rem;
    position: absolute;
    left: 68.2rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
  }
  .salaried-employee-senior-citizen-freelancer-nri-ynL {
    position: absolute;
    left: 75.7rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.6000000238);
    white-space: nowrap;
    width: 32.6rem;
    height: 2.1rem;
    top: 35.2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
  }
  .other-than-individuals-fQG {
    width: 14.5rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    left: 68.2rem;
    top: 37.3rem;
  }
  .company-trust-aop-ajp-boi-firm-huf-local-authority-9qE {
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.6000000238);
    width: 37.7rem;
    height: 2.1rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.5;
    left: 68.2rem;
    top: 37.5rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .aadhaar-number-qi4 {
    line-height: 1.6153846154;
    height: 2.1rem;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.2rem;
    left: 68.2rem;
    top: 47.1rem;
  }
  .individuals-L92 {
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
    position: absolute;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    height: 2.1rem;
    left: 68.2rem;
    top: 49.2rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .salaried-employee-senior-citizen-freelancer-nri-2Xe {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 32.6rem;
    height: 2.1rem;
    position: absolute;
    left: 75.7rem;
    white-space: nowrap;
    top: 49.2rem;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.6000000238);
  }
  .other-than-pan-users-Wxc {
    top: 57rem;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    width: 12.9rem;
    position: absolute;
    left: 68.2rem;
    line-height: 1.6153846154;
    white-space: nowrap;
    height: 2.1rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .ca-external-agency-eri-tax-deductor-tax-collector-tin-20-stakeholders-itdrein-non-residents-not-holding-and-not-required-to-have-pan-Qo6 {
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    height: 6.3rem;
    left: 68.2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 45.1rem;
    position: absolute;
    top: 59.3rem;
  }
  .arca-authorised-representative-chartered-accountant-followed-by-6-digit-number-eBe {
    height: 4.2rem;
    position: absolute;
    left: 68.2rem;
    top: 65.6rem;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.6000000238);
    width: 45.6rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    font-weight: 400;
  }
  .tan-tax-deductor-collector-7L8 {
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.6000000238);
    width: 18.8rem;
    height: 2.1rem;
    font-size: 1.3rem;
    line-height: 1.6153846154;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 68.2rem;
    top: 69.6rem;
    font-weight: 400;
  }
  .show-more-PoS {
    top: 73.3rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.3rem;
    height: 2.1rem;
    position: absolute;
    color: #076bcf;
    left: 68.2rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
  }
  .about-us-W7N {
    font-weight: 400;
    line-height: 1.1666666667;
    color: #ffffff;
    height: 2.1rem;
    position: absolute;
    left: 4.5rem;
    top: 94.7rem;
    width: 7.4rem;
    font-size: 1.8rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .about-the-portal-cRJ {
    white-space: nowrap;
    width: 10.2rem;
    top: 98.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    height: 2.1rem;
    position: absolute;
    left: 4.5rem;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
  }
  .history-of-direct-taxation-K4p {
    left: 4.5rem;
    top: 101.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    width: 15.8rem;
    height: 2.1rem;
    position: absolute;
    white-space: nowrap;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
  }
  .vision-mission-values-R7r {
    width: 14.3rem;
    left: 4.5rem;
    top: 104.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    height: 2.1rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .who-we-are-KDE {
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.6rem;
    left: 4.5rem;
    top: 107.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    height: 2.1rem;
    position: absolute;
    line-height: 1.5;
  }
  .right-to-information-2dS {
    width: 12.5rem;
    position: absolute;
    top: 110.3rem;
    color: rgba(255, 255, 255, 0.6999999881);
    height: 2.1rem;
    left: 4.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .organizations-functions-8Ra {
    width: 16.4rem;
    height: 2.1rem;
    top: 113.2rem;
    font-size: 1.4rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 4.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
  }
  .media-reports-2mr {
    position: absolute;
    left: 4.5rem;
    top: 116.1rem;
    font-weight: 400;
    white-space: nowrap;
    width: 9.1rem;
    height: 2.1rem;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .e-filing-calendar-2021-YkC {
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    top: 119rem;
    height: 2.1rem;
    position: absolute;
    left: 4.5rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
    width: 13.9rem;
  }
  .follow-us-on-Fec {
    height: 2.1rem;
    position: absolute;
    left: 4.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3125;
    color: rgba(255, 255, 255, 0.8700000048);
    width: 9rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    top: 124.9rem;
  }
  .contact-us-9zt {
    height: 2.1rem;
    position: absolute;
    top: 94.7rem;
    line-height: 1.1666666667;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.9rem;
    left: 33.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
  }
  .helpdesk-numbers-fiL {
    position: absolute;
    color: rgba(255, 255, 255, 0.6999999881);
    width: 11.9rem;
    height: 2.1rem;
    left: 33.8rem;
    top: 98.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .grievances-AQC {
    height: 2.1rem;
    left: 33.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.9rem;
    position: absolute;
    top: 101.6rem;
    font-size: 1.4rem;
  }
  .view-grievance-UQt {
    color: rgba(255, 255, 255, 0.6999999881);
    width: 9.6rem;
    height: 2.1rem;
    position: absolute;
    left: 33.8rem;
    top: 104.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .feedback-aip {
    top: 107.4rem;
    font-weight: 400;
    line-height: 1.5;
    left: 33.8rem;
    height: 2.1rem;
    position: absolute;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.1rem;
  }
  .help-6SG {
    white-space: nowrap;
    width: 2.9rem;
    position: absolute;
    top: 110.3rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    left: 33.8rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .using-the-portal-1ZE {
    font-weight: 400;
    line-height: 1.1666666667;
    white-space: nowrap;
    width: 12.8rem;
    height: 2.1rem;
    position: absolute;
    top: 94.7rem;
    font-size: 1.8rem;
    left: 53.3rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
  }
  .website-policies-jEL {
    width: 10.3rem;
    height: 2.1rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 53.3rem;
    top: 98.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .accessibility-statement-Rsr {
    height: 2.1rem;
    left: 53.3rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
    white-space: nowrap;
    width: 14.7rem;
    top: 101.6rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
  }
  .site-map-KiL {
    width: 5.5rem;
    left: 53.3rem;
    color: rgba(255, 255, 255, 0.6999999881);
    height: 2.1rem;
    position: absolute;
    top: 104.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .browser-support-EqJ {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    white-space: nowrap;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 10.5rem;
    height: 2.1rem;
    position: absolute;
    left: 53.3rem;
    top: 107.4rem;
    font-size: 1.4rem;
  }
  .related-sites-Z6t {
    top: 94.7rem;
    font-size: 1.8rem;
    line-height: 1.1666666667;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    left: 82.5rem;
    width: 10.5rem;
    font-weight: 400;
    color: #ffffff;
  }
  .income-tax-india-sNU {
    font-family: Roboto, 'Source Sans Pro';
    width: 10.7rem;
    height: 2.1rem;
    top: 98.7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    white-space: nowrap;
    position: absolute;
    left: 82.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .nsdl-nEY {
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    width: 3.5rem;
    left: 82.5rem;
    top: 101.6rem;
  }
  .traces-JTn {
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    width: 5.2rem;
    height: 2.1rem;
    top: 104.5rem;
    white-space: nowrap;
    position: absolute;
    left: 82.5rem;
    font-weight: 400;
  }
  .last-reviewed-and-updated-on-10-jan-2024-cjN {
    position: absolute;
    left: 99.9rem;
    text-align: right;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 21.6rem;
    height: 2.1rem;
    top: 131.3rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9090909091;
  }
  .this-site-is-best-viewed-in-1024-768-resolution-with-latest-version-of-chrome-firefox-safari-and-internet-explorer-7RE {
    width: 55.7rem;
    position: absolute;
    top: 133.8rem;
    font-weight: 400;
    line-height: 1.9090909091;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    left: 65.8rem;
    text-align: right;
    font-size: 1.1rem;
  }
  .copyright-income-tax-department-ministry-of-finance-government-of-india-all-rights-reserved-xgk {
    font-size: 1.2rem;
    font-weight: 400;
    width: 51.8rem;
    position: absolute;
    top: 136.3rem;
    text-align: right;
    line-height: 1.75;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    left: 69.7rem;
  }
}
