
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-pyA {
  height: 146.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-756 {
    background-color: #f6f7fb;
    width: 191rem;
    height: 138.3rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rectangle-Qpt {
    width: 191rem;
    height: 138.3rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f6f7fb;
  }
  .rectangle-91n {
    background-color: #ffffff;
    width: 14.5rem;
    height: 3rem;
    position: absolute;
    left: 95.5rem;
    top: 0;
  }
  .rectangle-fkp {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 191rem;
    height: 9rem;
  }
  .image-1Zn {
    position: absolute;
    left: 38.5rem;
    top: 2.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 23.6001rem;
    height: 4.5001rem;
  }
  .rectangle-LMA {
    top: 1.6rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
    box-sizing: border-box;
    width: 0.2rem;
    height: 2.6rem;
    position: absolute;
    left: 125.1rem;
  }
  .rectangle-CXn {
    top: 1.6rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
    box-sizing: border-box;
    width: 0.2rem;
    height: 2.6rem;
    position: absolute;
    left: 137.3rem;
  }
  .image-KMW {
    top: 1.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 139.1rem;
  }
  .image-dNC {
    height: 1.8rem;
    position: absolute;
    left: 142.5rem;
    top: 1.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
  }
  .image-A7E {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 145.9rem;
    top: 1.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-HxY {
    position: absolute;
    left: 149.3rem;
    top: 1.6rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
    box-sizing: border-box;
    width: 0.2rem;
    height: 2.6rem;
  }
  .image-D5W {
    left: 151.1rem;
    top: 2.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.3999rem;
    height: 1.3999rem;
    position: absolute;
  }
  .rectangle-Y7n {
    width: 191rem;
    height: 5.1rem;
    position: absolute;
    left: 0;
    top: 9rem;
    background-color: #2a3a8d;
  }
  .rectangle-gDz {
    width: 3.7625rem;
    height: 0.3rem;
    position: absolute;
    left: 38.5rem;
    top: 13.85rem;
    background-color: #ffffff;
  }
  .rectangle-ctL {
    width: 3.8rem;
    height: 4.8rem;
    position: absolute;
    left: 38.5rem;
    top: 9.1rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-xBW {
    border-radius: 0.4rem 0.4rem 0 0;
    width: 3.8rem;
    height: 4.8rem;
    position: absolute;
    left: 38.5rem;
    top: 9.1rem;
  }
  .rectangle-gtC {
    height: 4.7rem;
    position: absolute;
    left: 47.1rem;
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.4rem;
  }
  .rectangle-QZJ {
    height: 4.7rem;
    position: absolute;
    left: 47.1rem;
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.4rem;
  }
  .rectangle-916 {
    position: absolute;
    left: 64.2rem;
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 9rem;
    height: 4.7rem;
  }
  .rectangle-fEL {
    height: 4.7rem;
    position: absolute;
    left: 64.2rem;
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 9rem;
  }
  .rectangle-bNt {
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.1rem;
    height: 4.7rem;
    position: absolute;
    left: 78.1rem;
    top: 9.2rem;
  }
  .rectangle-jEC {
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 12.1rem;
    height: 4.7rem;
    position: absolute;
    left: 78.1rem;
  }
  .rectangle-Tfz {
    width: 20rem;
    height: 4.7rem;
    position: absolute;
    left: 94.9rem;
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-zR2 {
    width: 20rem;
    height: 4.7rem;
    position: absolute;
    left: 94.9rem;
    top: 9.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-XQx {
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 7rem;
    height: 5.1rem;
    position: absolute;
    left: 119.7rem;
  }
  .rectangle-3u6 {
    position: absolute;
    left: 119.7rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
    width: 7rem;
    height: 5.1rem;
  }
  .rectangle-au2 {
    width: 2.9rem;
    height: 5.1rem;
    position: absolute;
    left: 131.5rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-ikL {
    width: 2.9rem;
    height: 5.1rem;
    position: absolute;
    left: 131.5rem;
    top: 9rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  .rectangle-ett {
    position: absolute;
    top: 15.2rem;
    border: solid 0.1rem #2a3a8d;
    box-sizing: border-box;
    height: 67.5rem;
    left: 37rem;
    background-color: #fafbfd;
    border-radius: 0.4rem;
    width: 117rem;
  }
  .rectangle-Zkx {
    top: 15.3rem;
    background-color: #ffffff;
    width: 48.7rem;
    height: 67.3rem;
    position: absolute;
    left: 37.1rem;
  }
  .rectangle-upp {
    height: 4.5rem;
    position: absolute;
    left: 43.5rem;
    top: 34.8rem;
    background-color: #ebf4fd;
    border-radius: 0.4rem;
    width: 35.9rem;
  }
  .rectangle-rVA {
    box-sizing: border-box;
    border-radius: 0.2rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 43.5rem;
    top: 40.4rem;
    border: solid 0.2rem rgba(0, 0, 0, 0.5);
  }
  .rectangle-BGY {
    top: 40.4rem;
    border-radius: 0.2rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 43.5rem;
  }
  .frame-7fz {
    top: 40.8725rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.215rem;
    height: 0.8475rem;
    position: absolute;
    left: 43.8075rem;
  }
  .rectangle-efv {
    top: 54.6rem;
    border-radius: 0.4rem;
    width: 33.7rem;
    height: 4.3rem;
    position: absolute;
    left: 43.5rem;
  }
  .rectangle-nGL {
    border-radius: 0.4rem;
    width: 33.7rem;
    height: 4.3rem;
    position: absolute;
    left: 43.5rem;
    top: 54.6rem;
    background-color: #ffffff;
  }
  .rectangle-Wy2 {
    width: 0.5rem;
    height: 0.1rem;
    position: absolute;
    left: 43.5rem;
    top: 54.5rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-fL8 {
    width: 0.1rem;
    height: 4.3rem;
    position: absolute;
    left: 43.4rem;
    top: 54.6rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-QHi {
    top: 58.9rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.5rem;
    height: 0.1rem;
    position: absolute;
    left: 43.5rem;
  }
  .rectangle-k6g {
    left: 43.5rem;
    top: 54.6rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 0.5rem;
    height: 4.3rem;
    position: absolute;
  }
  .rectangle-5ek {
    width: 33.2rem;
    height: 0.1rem;
    position: absolute;
    left: 44rem;
    top: 54.5rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-2K6 {
    position: absolute;
    left: 77.2rem;
    top: 54.6rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.1rem;
    height: 4.3rem;
  }
  .rectangle-Z48 {
    height: 0.1rem;
    position: absolute;
    left: 44rem;
    top: 58.9rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 33.2rem;
  }
  .rectangle-t6Q {
    width: 33.2rem;
    height: 4.3rem;
    position: absolute;
    left: 44rem;
    top: 54.6rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .rectangle-ojA {
    height: 4.3rem;
    position: absolute;
    left: 43.5rem;
    top: 54.6rem;
    background-color: #ffffff;
    border-radius: 0.4rem;
    width: 33.7rem;
  }
  .rectangle-jsi {
    height: 0.2rem;
    position: absolute;
    left: 43.5rem;
    top: 54.4rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.5rem;
  }
  .rectangle-sj2 {
    position: absolute;
    left: 43.3rem;
    top: 54.6rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.2rem;
    height: 4.3rem;
  }
  .rectangle-Qyr {
    left: 43.5rem;
    top: 58.9rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
    width: 0.5rem;
    height: 0.2rem;
    position: absolute;
  }
  .rectangle-9Ak {
    position: absolute;
    left: 43.5rem;
    top: 54.6rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 0.5rem;
    height: 4.3rem;
  }
  .rectangle-H24 {
    width: 33.2rem;
    height: 0.2rem;
    position: absolute;
    left: 44rem;
    top: 54.4rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-pXn {
    width: 0.2rem;
    height: 4.3rem;
    position: absolute;
    left: 77.2rem;
    top: 54.6rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-YTn {
    width: 33.2rem;
    height: 0.2rem;
    position: absolute;
    left: 44rem;
    top: 58.9rem;
    background-color: rgba(0, 0, 0, 0.3799999952);
  }
  .rectangle-g4C {
    width: 33.2rem;
    height: 4.3rem;
    position: absolute;
    left: 44rem;
    top: 54.6rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .rectangle-CYL {
    position: absolute;
    border: solid 0.1rem #44539b;
    box-sizing: border-box;
    width: 33.7rem;
    left: 43.5rem;
    top: 66.6rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.200000003);
    background-color: #ffffff;
    border-radius: 0.4rem;
    height: 1.9rem;
  }
  .image-VGY {
    top: 66.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 62.9rem;
  }
  .rectangle-EE8 {
    box-sizing: border-box;
    border-radius: 0.4rem;
    width: 33.7rem;
    height: 1.9rem;
    position: absolute;
    left: 43.5rem;
    top: 72.8rem;
    border: solid 0.1rem #2a3a8d;
  }
  .image-96C {
    left: 57rem;
    top: 72.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
  }
  .image-4yr {
    position: absolute;
    left: 108.5rem;
    top: 37.6rem;
    overflow: hidden;
    width: 22.7rem;
    height: 22.7rem;

    .group-19682-CqA {
      height: 18.9162rem;
      position: absolute;
      left: 4.5rem;
      top: 2.5838rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 13.6rem;

      .group-19546-iYc {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 1.163rem 2.8rem 1.1rem;
        width: calc(100% - 2.2623rem);
        height: 14.5163rem;

        .path-10733-1nc {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 11.3374rem;
          height: 11.6052rem;
        }
        .ellipse-762-xSx {
          top: 6.338rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.3574rem;
          height: 6.3574rem;
          position: absolute;
          left: 2.5498rem;
        }
        .path-10733-t5i {
          object-fit: contain;
          vertical-align: top;
          width: 11.3374rem;
          height: 9.7123rem;
          position: absolute;
          left: 0.0003rem;
          top: 4.804rem;
        }
        .path-17535-1g8 {
          height: 6.3662rem;
          position: absolute;
          left: 2.5636rem;
          top: 6.9325rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.3661rem;
        }
        .path-18302-9GY {
          left: 0.7948rem;
          top: 10.6822rem;
          object-fit: contain;
          vertical-align: top;
          width: 9.7641rem;
          height: 2.2251rem;
          position: absolute;
        }
        .item--sCY {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 3.4rem;
          left: 1.5362rem;
          font-weight: 400;
          font-size: 2.8rem;
          color: #f4f4f4;
          white-space: nowrap;
          width: 8.4rem;
          position: absolute;
          top: 10.2703rem;
        }
        .group-19543-8PN {
          width: 1.4861rem;
          height: 0.7973rem;
          position: absolute;
          left: 7.7873rem;
          top: 4.0079rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-19545-rKN {
          width: 3.626rem;
          height: 3.6242rem;
          position: absolute;
          left: 3.8391rem;
          top: 6.3738rem;
          object-fit: contain;
          vertical-align: top;
        }
        .path-18303-P4Q {
          width: 0.5617rem;
          height: 0.5199rem;
          position: absolute;
          left: 8.6159rem;
          top: 3.6054rem;
          object-fit: contain;
          vertical-align: top;
        }
        .path-18304-isN {
          top: 3.6087rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.5618rem;
          height: 0.5183rem;
          position: absolute;
          left: 7.9394rem;
        }
      }
      .ellipse-862-3ue {
        width: 13.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-4144-15n {
      object-fit: contain;
      vertical-align: top;
      width: 22.7rem;
      height: 22.7rem;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .rectangle-kZA {
    left: 0;
    top: 88.95rem;
    background-color: #d8dbea;
    width: 191rem;
    height: 0.1rem;
    position: absolute;
  }
  .rectangle-Hoz {
    height: 57rem;
    position: absolute;
    left: 0;
    top: 89.1rem;
    background-color: #1a2038;
    width: 191rem;
  }
  .image-dcx {
    vertical-align: top;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    left: 118.4rem;
    top: 102.8rem;
    object-fit: contain;
  }
  .rectangle-mjA {
    width: 117rem;
    height: 0.1rem;
    position: absolute;
    left: 36.5rem;
    top: 130.4188rem;
    background-color: rgba(255, 255, 255, 0.6999999881);
  }
  .image-7HE {
    width: 13.7rem;
    height: 4.2rem;
    position: absolute;
    left: 36.5rem;
    top: 133rem;
    overflow: hidden;

    .group-21215-qyv {
      height: 100%;
      display: flex;
      align-items: center;
      width: 14.3503rem;

      .mask-group-138-awW {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1999rem;
        width: 2.5504rem;
        height: 4.2001rem;
      }
      .group-21210-uD6 {
        flex-shrink: 0;
        margin: 0.8rem 0rem 0.3rem 0rem;
        width: 10.6rem;
        height: calc(100% - 1.1001rem);
        position: relative;

        .prefixindiagovin-pL4 {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 8.5rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.5rem;
          height: 1.9rem;
          font-weight: 700;
          color: #d7d7d7;
          white-space: nowrap;
        }
        .national-portal-of-india-XVN {
          line-height: 1.2125;
          color: #bebebe;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-weight: 400;
          left: 0;
          top: 1.8rem;
          font-size: 1rem;
          width: 10.6rem;
          height: 1.3rem;
        }
      }
    }
  }
  .call-2BE {
    width: 7.2rem;
    top: 2.1rem;
    text-align: center;
    font-weight: 400;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.8rem;
    position: absolute;
    left: 112.3rem;
    font-size: 1.8rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6000000238);
  }
  .call-us-WcC {
    height: 2.1rem;
    top: 2rem;
    font-weight: 400;
    letter-spacing: 0.01rem;
    font-family: Roboto, 'Source Sans Pro';
    left: 117.1rem;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6000000238);
    position: absolute;
    text-align: center;
    font-size: 1.4rem;
    width: 4.4rem;
    line-height: 1.5;
    white-space: nowrap;
  }
  .expandmore-mo2 {
    height: 1.8rem;
    left: 112.8rem;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    white-space: nowrap;
    width: 19.8rem;
    position: absolute;
    top: 2rem;
    font-size: 1.8rem;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
  }
  .language-sr4 {
    white-space: nowrap;
    height: 1.8rem;
    left: 126.9rem;
    top: 2rem;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.6000000238);
    font-family: Material Icons, 'Source Sans Pro';
    width: 14.4rem;
    position: absolute;
    font-weight: 400;
    line-height: 1;
  }
  .english-akU {
    position: absolute;
    left: 129.3rem;
    top: 1.9rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 4.6rem;
    height: 2.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6000000238);
    white-space: nowrap;
  }
  .expandmore-6D2 {
    position: absolute;
    left: 133.9rem;
    color: rgba(0, 0, 0, 0.6000000238);
    font-weight: 400;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    width: 19.8rem;
    height: 1.8rem;
    top: 1.9rem;
    font-size: 1.8rem;
  }
  .do-not-have-an-account-bfa {
    position: absolute;
    left: 131.3rem;
    top: 5.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8700000048);
    width: 15.3rem;
    height: 2.1rem;
    white-space: nowrap;
    font-size: 1.4rem;
    font-family: Roboto, 'Source Sans Pro';
  }
  .register-6sE {
    white-space: nowrap;
    width: 5.2rem;
    height: 2.1rem;
    top: 5.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 146.9rem;
    line-height: 1.5;
    color: #076bcf;
  }
  .home-cqa {
    text-transform: capitalize;
    color: #ffffff;
    width: 3.8rem;
    height: 2rem;
    position: absolute;
    top: 10.6rem;
    font-size: 1.4rem;
    left: 38.5rem;
    font-weight: 400;
    line-height: 1.3600000654;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .individual-huf-8J8 {
    width: 9.3rem;
    height: 2rem;
    position: absolute;
    left: 47.1rem;
    font-weight: 400;
    line-height: 1.3600000654;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    top: 10.6rem;
    font-size: 1.4rem;
  }
  .expandmore-Erx {
    left: 57rem;
    top: 10.9rem;
    font-weight: 400;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.2rem;
    position: absolute;
    color: #ffffff;
    height: 1.2rem;
    font-size: 1.2rem;
  }
  .company-9yv {
    left: 64.2rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    line-height: 1.3600000654;
    white-space: nowrap;
    width: 6rem;
    height: 2rem;
    position: absolute;
    top: 10.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .expandmore-fxG {
    width: 13.2rem;
    height: 1.2rem;
    top: 10.9rem;
    font-weight: 400;
    font-family: Material Icons, 'Source Sans Pro';
    position: absolute;
    left: 70.9rem;
    font-size: 1.2rem;
    line-height: 1;
    color: #ffffff;
    white-space: nowrap;
  }
  .non-company-CBW {
    width: 8.9rem;
    height: 2rem;
    left: 78.1rem;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 10.6rem;
    font-weight: 400;
    line-height: 1.3600000654;
  }
  .expandmore-iQk {
    white-space: nowrap;
    width: 13.2rem;
    position: absolute;
    left: 87.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
    height: 1.2rem;
    top: 10.9rem;
    color: #ffffff;
  }
  .tax-professionals-others-Ra4 {
    color: #ffffff;
    white-space: nowrap;
    width: 16.8rem;
    height: 2rem;
    left: 94.9rem;
    top: 10.6rem;
    font-size: 1.4rem;
    line-height: 1.3600000654;
    position: absolute;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
  }
  .expandmore-j4x {
    height: 1.2rem;
    line-height: 1;
    font-family: Material Icons, 'Source Sans Pro';
    color: #ffffff;
    white-space: nowrap;
    width: 13.2rem;
    position: absolute;
    left: 112.5rem;
    top: 10.9rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .downloads-EnQ {
    text-transform: capitalize;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.3600000654;
    color: #ffffff;
    height: 2rem;
    left: 119.7rem;
    top: 10.6rem;
    font-weight: 400;
  }
  .help-9eU {
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 131.5rem;
    top: 10.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    width: 2.9rem;
    height: 2rem;
    line-height: 1.3600000654;
  }
  .login-fsi {
    white-space: nowrap;
    height: 4rem;
    left: 53.7rem;
    font-size: 3rem;
    letter-spacing: 0.015rem;
    font-family: Roboto, 'Source Sans Pro';
    color: rgba(0, 0, 0, 0.8700000048);
    width: 7.5rem;
    position: absolute;
    top: 21.7rem;
    font-weight: 400;
    line-height: 1.3300000509;
  }
  .pan-z9J {
    left: 53.7rem;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    position: absolute;
    top: 27.3rem;
    font-weight: 400;
    white-space: nowrap;
    width: 2.8rem;
  }
  .item--GsW {
    white-space: nowrap;
    width: 0.4rem;
    left: 56.5rem;
    top: 27.3rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    position: absolute;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
  }
  .acbpe7389k-Ahz {
    top: 27.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    width: 8.7rem;
    height: 2.1rem;
    left: 57.6rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    line-height: 1.5;
  }
  .secure-access-message-fPr {
    height: 2.1rem;
    position: absolute;
    top: 31.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8700000048);
    width: 15.8rem;
    left: 43.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .please-file-Zk8 {
    left: 44.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.025rem;
    white-space: nowrap;
    position: absolute;
    height: 2.1rem;
    top: 36rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    width: 6.6rem;
  }
  .please-confirm-your-secure-access-message-displayed-above-GuS {
    letter-spacing: 0.025rem;
    height: 4.8rem;
    left: 46.1rem;
    top: 40.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7142857143;
    width: 28.8rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
  }
  .item--mLQ {
    position: absolute;
    font-weight: 400;
    color: #cd2026;
    font-family: Roboto, 'Source Sans Pro';
    width: 0.7rem;
    height: 2.4rem;
    left: 56.9rem;
    top: 42.5rem;
    font-size: 1.4rem;
    line-height: 1.7142857143;
    letter-spacing: 0.025rem;
    white-space: nowrap;
  }
  .enter-password-for-your-e-filing-account-fgg {
    width: 24.3rem;
    left: 43.5rem;
    line-height: 1.6153846154;
    color: rgba(0, 0, 0, 0.8700000048);
    white-space: nowrap;
    letter-spacing: 0.025rem;
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    position: absolute;
    top: 46.9rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .password-M3i {
    width: 6.4rem;
    position: absolute;
    left: 43.5rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    top: 51.6rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8700000048);
  }
  .item--3hE {
    position: absolute;
    top: 51.4rem;
    font-weight: 400;
    color: #cd2026;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 0.7rem;
    height: 2.4rem;
    left: 50.3rem;
    font-size: 1.6rem;
  }
  .forgot-password-Ytt {
    font-weight: 400;
    width: 11.7rem;
    height: 2.1rem;
    top: 59.8rem;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.025rem;
    color: #076bcf;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 43.5rem;
    white-space: nowrap;
  }
  .continue-eh2 {
    text-transform: capitalize;
    color: #2a3a8d;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    top: 66.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1900000572;
    width: 6.4rem;
    height: 2rem;
    left: 56rem;
    text-align: center;
    white-space: nowrap;
  }
  .back-xhi {
    height: 2rem;
    position: absolute;
    left: 58.9rem;
    text-align: center;
    text-transform: capitalize;
    color: #2a3a8d;
    font-family: Roboto, 'Source Sans Pro';
    width: 3.3rem;
    top: 72.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2693333944;
    white-space: nowrap;
  }
  .about-us-spg {
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 36.5rem;
    font-size: 1.8rem;
    line-height: 1.1666666667;
    color: #ffffff;
    width: 7.4rem;
    height: 2.1rem;
    top: 95.5rem;
  }
  .about-the-portal-zeQ {
    left: 36.5rem;
    top: 99.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    width: 10.2rem;
    height: 2.1rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
  }
  .history-of-direct-taxation-J9J {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    white-space: nowrap;
    width: 15.8rem;
    height: 2.1rem;
    position: absolute;
    left: 36.5rem;
    top: 102.4rem;
    font-family: Roboto, 'Source Sans Pro';
  }
  .vision-mission-values-CkU {
    width: 14.3rem;
    height: 2.1rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
    white-space: nowrap;
    position: absolute;
    left: 36.5rem;
    top: 105.3rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
  }
  .who-we-are-7Me {
    color: rgba(255, 255, 255, 0.6999999881);
    top: 108.2rem;
    height: 2.1rem;
    position: absolute;
    left: 36.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 7.6rem;
    white-space: nowrap;
  }
  .right-to-information-R7S {
    left: 36.5rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.5rem;
    position: absolute;
    top: 111.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    height: 2.1rem;
  }
  .organizations-functions-Wua {
    color: rgba(255, 255, 255, 0.6999999881);
    width: 16.4rem;
    height: 2.1rem;
    position: absolute;
    left: 36.5rem;
    top: 114rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.4rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .media-reports-DJC {
    width: 9.1rem;
    height: 2.1rem;
    left: 36.5rem;
    top: 116.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .e-filing-calendar-2021-7uN {
    white-space: nowrap;
    width: 13.9rem;
    position: absolute;
    top: 119.8rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    left: 36.5rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .follow-us-on-EDJ {
    left: 36.5rem;
    top: 125.7rem;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 9rem;
    height: 2.1rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.3125;
  }
  .contact-us-Yjn {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1666666667;
    color: #ffffff;
    height: 2.1rem;
    left: 65.8rem;
    top: 95.5rem;
    white-space: nowrap;
    width: 8.9rem;
    position: absolute;
    font-family: Roboto, 'Source Sans Pro';
  }
  .helpdesk-numbers-UNY {
    top: 99.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.9rem;
    height: 2.1rem;
    position: absolute;
    left: 65.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
  }
  .grievances-awN {
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.9rem;
    position: absolute;
    top: 102.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    height: 2.1rem;
    left: 65.8rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .view-grievance-JsN {
    line-height: 1.5;
    width: 9.6rem;
    height: 2.1rem;
    position: absolute;
    left: 65.8rem;
    top: 105.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .feedback-RBJ {
    height: 2.1rem;
    left: 65.8rem;
    font-weight: 400;
    white-space: nowrap;
    width: 6.1rem;
    position: absolute;
    top: 108.2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
  }
  .help-XEL {
    position: absolute;
    top: 111.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    left: 65.8rem;
    color: rgba(255, 255, 255, 0.6999999881);
    width: 2.9rem;
  }
  .using-the-portal-pz8 {
    font-weight: 400;
    line-height: 1.1666666667;
    color: #ffffff;
    white-space: nowrap;
    width: 12.8rem;
    height: 2.1rem;
    font-size: 1.8rem;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 85.3rem;
    top: 95.5rem;
  }
  .website-policies-jrC {
    width: 10.3rem;
    left: 85.3rem;
    line-height: 1.5;
    height: 2.1rem;
    position: absolute;
    top: 99.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .accessibility-statement-FJk {
    font-family: Roboto, 'Source Sans Pro';
    width: 14.7rem;
    height: 2.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    line-height: 1.5;
    white-space: nowrap;
    position: absolute;
    left: 85.3rem;
    top: 102.4rem;
    font-size: 1.4rem;
  }
  .site-map-Yoe {
    line-height: 1.5;
    font-family: Roboto, 'Source Sans Pro';
    width: 5.5rem;
    left: 85.3rem;
    top: 105.3rem;
    font-weight: 400;
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6999999881);
  }
  .browser-support-fNU {
    font-family: Roboto, 'Source Sans Pro';
    height: 2.1rem;
    font-size: 1.4rem;
    line-height: 1.5;
    top: 108.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    white-space: nowrap;
    width: 10.5rem;
    position: absolute;
    left: 85.3rem;
  }
  .related-sites-Aq2 {
    top: 95.5rem;
    font-weight: 400;
    line-height: 1.1666666667;
    color: #ffffff;
    width: 10.5rem;
    height: 2.1rem;
    font-size: 1.8rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 114.5rem;
  }
  .income-tax-india-g2g {
    position: absolute;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.7rem;
    height: 2.1rem;
    left: 114.5rem;
    top: 99.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
  }
  .nsdl-ynU {
    position: absolute;
    left: 114.5rem;
    top: 102.4rem;
    font-size: 1.4rem;
    line-height: 1.5;
    width: 3.5rem;
    height: 2.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .traces-66Q {
    height: 2.1rem;
    position: absolute;
    top: 105.3rem;
    white-space: nowrap;
    width: 5.2rem;
    left: 114.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
  }
  .last-reviewed-and-updated-on-14-jan-2024-bYx {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    width: 21.6rem;
    left: 131.9rem;
    font-size: 1.1rem;
    text-align: right;
    line-height: 1.9090909091;
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    top: 132.2rem;
  }
  .this-site-is-best-viewed-in-1024-768-resolution-with-latest-version-of-chrome-firefox-safari-and-internet-explorer-Use {
    height: 2.1rem;
    position: absolute;
    top: 134.7rem;
    line-height: 1.9090909091;
    white-space: nowrap;
    width: 55.7rem;
    left: 97.8rem;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
  }
  .copyright-income-tax-department-ministry-of-finance-government-of-india-all-rights-reserved-X5E {
    position: absolute;
    left: 101.7rem;
    top: 137.2rem;
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.75;
    width: 51.8rem;
    height: 2.1rem;
    color: rgba(255, 255, 255, 0.6999999881);
    font-family: Roboto, 'Source Sans Pro';
    font-weight: 400;
    white-space: nowrap;
  }
}
