
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-pyA {
  width: 100%;
  height: 146.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-pyA .rectangle-756 {
  width: 191rem;
  height: 138.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f6f7fb;
}
.frame-pyA .rectangle-Qpt {
  width: 191rem;
  height: 138.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f6f7fb;
}
.frame-pyA .rectangle-91n {
  width: 14.5rem;
  height: 3rem;
  position: absolute;
  left: 95.5rem;
  top: 0;
  background-color: #ffffff;
}
.frame-pyA .rectangle-fkp {
  width: 191rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.frame-pyA .image-1Zn {
  width: 23.6001rem;
  height: 4.5001rem;
  position: absolute;
  left: 38.5rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-LMA {
  width: 0.2rem;
  height: 2.6rem;
  position: absolute;
  left: 125.1rem;
  top: 1.6rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
  box-sizing: border-box;
}
.frame-pyA .rectangle-CXn {
  width: 0.2rem;
  height: 2.6rem;
  position: absolute;
  left: 137.3rem;
  top: 1.6rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
  box-sizing: border-box;
}
.frame-pyA .image-KMW {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 139.1rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-dNC {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 142.5rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-A7E {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 145.9rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-HxY {
  width: 0.2rem;
  height: 2.6rem;
  position: absolute;
  left: 149.3rem;
  top: 1.6rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.1800000072);
  box-sizing: border-box;
}
.frame-pyA .image-D5W {
  width: 1.3999rem;
  height: 1.3999rem;
  position: absolute;
  left: 151.1rem;
  top: 2.1rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-Y7n {
  width: 191rem;
  height: 5.1rem;
  position: absolute;
  left: 0;
  top: 9rem;
  background-color: #2a3a8d;
}
.frame-pyA .rectangle-gDz {
  width: 3.7625rem;
  height: 0.3rem;
  position: absolute;
  left: 38.5rem;
  top: 13.85rem;
  background-color: #ffffff;
}
.frame-pyA .rectangle-ctL {
  width: 3.8rem;
  height: 4.8rem;
  position: absolute;
  left: 38.5rem;
  top: 9.1rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-xBW {
  width: 3.8rem;
  height: 4.8rem;
  position: absolute;
  left: 38.5rem;
  top: 9.1rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-gtC {
  width: 12.4rem;
  height: 4.7rem;
  position: absolute;
  left: 47.1rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-QZJ {
  width: 12.4rem;
  height: 4.7rem;
  position: absolute;
  left: 47.1rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-916 {
  width: 9rem;
  height: 4.7rem;
  position: absolute;
  left: 64.2rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-fEL {
  width: 9rem;
  height: 4.7rem;
  position: absolute;
  left: 64.2rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-bNt {
  width: 12.1rem;
  height: 4.7rem;
  position: absolute;
  left: 78.1rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-jEC {
  width: 12.1rem;
  height: 4.7rem;
  position: absolute;
  left: 78.1rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-Tfz {
  width: 20rem;
  height: 4.7rem;
  position: absolute;
  left: 94.9rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-zR2 {
  width: 20rem;
  height: 4.7rem;
  position: absolute;
  left: 94.9rem;
  top: 9.2rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-XQx {
  width: 7rem;
  height: 5.1rem;
  position: absolute;
  left: 119.7rem;
  top: 9rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-3u6 {
  width: 7rem;
  height: 5.1rem;
  position: absolute;
  left: 119.7rem;
  top: 9rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-au2 {
  width: 2.9rem;
  height: 5.1rem;
  position: absolute;
  left: 131.5rem;
  top: 9rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-ikL {
  width: 2.9rem;
  height: 5.1rem;
  position: absolute;
  left: 131.5rem;
  top: 9rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.frame-pyA .rectangle-ett {
  width: 117rem;
  height: 67.5rem;
  position: absolute;
  left: 37rem;
  top: 15.2rem;
  border: solid 0.1rem #2a3a8d;
  box-sizing: border-box;
  background-color: #fafbfd;
  border-radius: 0.4rem;
}
.frame-pyA .rectangle-Zkx {
  width: 48.7rem;
  height: 67.3rem;
  position: absolute;
  left: 37.1rem;
  top: 15.3rem;
  background-color: #ffffff;
}
.frame-pyA .rectangle-upp {
  width: 35.9rem;
  height: 4.5rem;
  position: absolute;
  left: 43.5rem;
  top: 34.8rem;
  background-color: #ebf4fd;
  border-radius: 0.4rem;
}
.frame-pyA .rectangle-rVA {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 43.5rem;
  top: 40.4rem;
  border: solid 0.2rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.2rem;
}
.frame-pyA .rectangle-BGY {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 43.5rem;
  top: 40.4rem;
  border-radius: 0.2rem;
}
.frame-pyA .frame-7fz {
  width: 1.215rem;
  height: 0.8475rem;
  position: absolute;
  left: 43.8075rem;
  top: 40.8725rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-efv {
  width: 33.7rem;
  height: 4.3rem;
  position: absolute;
  left: 43.5rem;
  top: 54.6rem;
  border-radius: 0.4rem;
}
.frame-pyA .rectangle-nGL {
  width: 33.7rem;
  height: 4.3rem;
  position: absolute;
  left: 43.5rem;
  top: 54.6rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-pyA .rectangle-Wy2 {
  width: 0.5rem;
  height: 0.1rem;
  position: absolute;
  left: 43.5rem;
  top: 54.5rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-fL8 {
  width: 0.1rem;
  height: 4.3rem;
  position: absolute;
  left: 43.4rem;
  top: 54.6rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-QHi {
  width: 0.5rem;
  height: 0.1rem;
  position: absolute;
  left: 43.5rem;
  top: 58.9rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-k6g {
  width: 0.5rem;
  height: 4.3rem;
  position: absolute;
  left: 43.5rem;
  top: 54.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.frame-pyA .rectangle-5ek {
  width: 33.2rem;
  height: 0.1rem;
  position: absolute;
  left: 44rem;
  top: 54.5rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-2K6 {
  width: 0.1rem;
  height: 4.3rem;
  position: absolute;
  left: 77.2rem;
  top: 54.6rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-Z48 {
  width: 33.2rem;
  height: 0.1rem;
  position: absolute;
  left: 44rem;
  top: 58.9rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-t6Q {
  width: 33.2rem;
  height: 4.3rem;
  position: absolute;
  left: 44rem;
  top: 54.6rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.frame-pyA .rectangle-ojA {
  width: 33.7rem;
  height: 4.3rem;
  position: absolute;
  left: 43.5rem;
  top: 54.6rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-pyA .rectangle-jsi {
  width: 0.5rem;
  height: 0.2rem;
  position: absolute;
  left: 43.5rem;
  top: 54.4rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-sj2 {
  width: 0.2rem;
  height: 4.3rem;
  position: absolute;
  left: 43.3rem;
  top: 54.6rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-Qyr {
  width: 0.5rem;
  height: 0.2rem;
  position: absolute;
  left: 43.5rem;
  top: 58.9rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-9Ak {
  width: 0.5rem;
  height: 4.3rem;
  position: absolute;
  left: 43.5rem;
  top: 54.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.frame-pyA .rectangle-H24 {
  width: 33.2rem;
  height: 0.2rem;
  position: absolute;
  left: 44rem;
  top: 54.4rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-pXn {
  width: 0.2rem;
  height: 4.3rem;
  position: absolute;
  left: 77.2rem;
  top: 54.6rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-YTn {
  width: 33.2rem;
  height: 0.2rem;
  position: absolute;
  left: 44rem;
  top: 58.9rem;
  background-color: rgba(0, 0, 0, 0.3799999952);
}
.frame-pyA .rectangle-g4C {
  width: 33.2rem;
  height: 4.3rem;
  position: absolute;
  left: 44rem;
  top: 54.6rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.frame-pyA .rectangle-CYL {
  width: 33.7rem;
  height: 1.9rem;
  position: absolute;
  left: 43.5rem;
  top: 66.6rem;
  border: solid 0.1rem #44539b;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-pyA .image-VGY {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 62.9rem;
  top: 66.8rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-EE8 {
  width: 33.7rem;
  height: 1.9rem;
  position: absolute;
  left: 43.5rem;
  top: 72.8rem;
  border: solid 0.1rem #2a3a8d;
  box-sizing: border-box;
  border-radius: 0.4rem;
}
.frame-pyA .image-96C {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 57rem;
  top: 72.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr {
  width: 22.7rem;
  height: 22.7rem;
  position: absolute;
  left: 108.5rem;
  top: 37.6rem;
  overflow: hidden;
}
.frame-pyA .image-4yr .group-19682-CqA {
  width: 13.6rem;
  height: 18.9162rem;
  position: absolute;
  left: 4.5rem;
  top: 2.5838rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc {
  margin: 0rem 1.163rem 2.8rem 1.1rem;
  width: calc(100% - 2.2623rem);
  height: 14.5163rem;
  position: relative;
  flex-shrink: 0;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .path-10733-1nc {
  width: 11.3374rem;
  height: 11.6052rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .ellipse-762-xSx {
  width: 6.3574rem;
  height: 6.3574rem;
  position: absolute;
  left: 2.5498rem;
  top: 6.338rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .path-10733-t5i {
  width: 11.3374rem;
  height: 9.7123rem;
  position: absolute;
  left: 0.0003rem;
  top: 4.804rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .path-17535-1g8 {
  width: 6.3661rem;
  height: 6.3662rem;
  position: absolute;
  left: 2.5636rem;
  top: 6.9325rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .path-18302-9GY {
  width: 9.7641rem;
  height: 2.2251rem;
  position: absolute;
  left: 0.7948rem;
  top: 10.6822rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .item--sCY {
  width: 8.4rem;
  height: 3.4rem;
  position: absolute;
  left: 1.5362rem;
  top: 10.2703rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f4f4f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .group-19543-8PN {
  width: 1.4861rem;
  height: 0.7973rem;
  position: absolute;
  left: 7.7873rem;
  top: 4.0079rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .group-19545-rKN {
  width: 3.626rem;
  height: 3.6242rem;
  position: absolute;
  left: 3.8391rem;
  top: 6.3738rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .path-18303-P4Q {
  width: 0.5617rem;
  height: 0.5199rem;
  position: absolute;
  left: 8.6159rem;
  top: 3.6054rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .group-19546-iYc .path-18304-isN {
  width: 0.5618rem;
  height: 0.5183rem;
  position: absolute;
  left: 7.9394rem;
  top: 3.6087rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .image-4yr .group-19682-CqA .ellipse-862-3ue {
  width: 13.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-pyA .image-4yr .rectangle-4144-15n {
  width: 22.7rem;
  height: 22.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-kZA {
  width: 191rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 88.95rem;
  background-color: #d8dbea;
}
.frame-pyA .rectangle-Hoz {
  width: 191rem;
  height: 57rem;
  position: absolute;
  left: 0;
  top: 89.1rem;
  background-color: #1a2038;
}
.frame-pyA .image-dcx {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 118.4rem;
  top: 102.8rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-pyA .rectangle-mjA {
  width: 117rem;
  height: 0.1rem;
  position: absolute;
  left: 36.5rem;
  top: 130.4188rem;
  background-color: rgba(255, 255, 255, 0.6999999881);
}
.frame-pyA .image-7HE {
  width: 13.7rem;
  height: 4.2rem;
  position: absolute;
  left: 36.5rem;
  top: 133rem;
  overflow: hidden;
}
.frame-pyA .image-7HE .group-21215-qyv {
  width: 14.3503rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.frame-pyA .image-7HE .group-21215-qyv .mask-group-138-awW {
  margin-right: 1.1999rem;
  width: 2.5504rem;
  height: 4.2001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-pyA .image-7HE .group-21215-qyv .group-21210-uD6 {
  margin: 0.8rem 0rem 0.3rem 0rem;
  width: 10.6rem;
  height: calc(100% - 1.1001rem);
  position: relative;
  flex-shrink: 0;
}
.frame-pyA .image-7HE .group-21215-qyv .group-21210-uD6 .prefixindiagovin-pL4 {
  width: 8.5rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #d7d7d7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .image-7HE .group-21215-qyv .group-21210-uD6 .national-portal-of-india-XVN {
  width: 10.6rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #bebebe;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .call-2BE {
  width: 7.2rem;
  height: 1.8rem;
  position: absolute;
  left: 112.3rem;
  top: 2.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .call-us-WcC {
  width: 4.4rem;
  height: 2.1rem;
  position: absolute;
  left: 117.1rem;
  top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .expandmore-mo2 {
  width: 19.8rem;
  height: 1.8rem;
  position: absolute;
  left: 112.8rem;
  top: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .language-sr4 {
  width: 14.4rem;
  height: 1.8rem;
  position: absolute;
  left: 126.9rem;
  top: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .english-akU {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 129.3rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .expandmore-6D2 {
  width: 19.8rem;
  height: 1.8rem;
  position: absolute;
  left: 133.9rem;
  top: 1.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .do-not-have-an-account-bfa {
  width: 15.3rem;
  height: 2.1rem;
  position: absolute;
  left: 131.3rem;
  top: 5.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .register-6sE {
  width: 5.2rem;
  height: 2.1rem;
  position: absolute;
  left: 146.9rem;
  top: 5.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #076bcf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .home-cqa {
  width: 3.8rem;
  height: 2rem;
  position: absolute;
  left: 38.5rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .individual-huf-8J8 {
  width: 9.3rem;
  height: 2rem;
  position: absolute;
  left: 47.1rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .expandmore-Erx {
  width: 13.2rem;
  height: 1.2rem;
  position: absolute;
  left: 57rem;
  top: 10.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .company-9yv {
  width: 6rem;
  height: 2rem;
  position: absolute;
  left: 64.2rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .expandmore-fxG {
  width: 13.2rem;
  height: 1.2rem;
  position: absolute;
  left: 70.9rem;
  top: 10.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .non-company-CBW {
  width: 8.9rem;
  height: 2rem;
  position: absolute;
  left: 78.1rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .expandmore-iQk {
  width: 13.2rem;
  height: 1.2rem;
  position: absolute;
  left: 87.7rem;
  top: 10.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .tax-professionals-others-Ra4 {
  width: 16.8rem;
  height: 2rem;
  position: absolute;
  left: 94.9rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .expandmore-j4x {
  width: 13.2rem;
  height: 1.2rem;
  position: absolute;
  left: 112.5rem;
  top: 10.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Material Icons, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .downloads-EnQ {
  width: 7rem;
  height: 2rem;
  position: absolute;
  left: 119.7rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .help-9eU {
  width: 2.9rem;
  height: 2rem;
  position: absolute;
  left: 131.5rem;
  top: 10.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3600000654;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .login-fsi {
  width: 7.5rem;
  height: 4rem;
  position: absolute;
  left: 53.7rem;
  top: 21.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3300000509;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .pan-z9J {
  width: 2.8rem;
  height: 2.1rem;
  position: absolute;
  left: 53.7rem;
  top: 27.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .item--GsW {
  width: 0.4rem;
  height: 2.1rem;
  position: absolute;
  left: 56.5rem;
  top: 27.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .acbpe7389k-Ahz {
  width: 8.7rem;
  height: 2.1rem;
  position: absolute;
  left: 57.6rem;
  top: 27.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .secure-access-message-fPr {
  width: 15.8rem;
  height: 2.1rem;
  position: absolute;
  left: 43.5rem;
  top: 31.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .please-file-Zk8 {
  width: 6.6rem;
  height: 2.1rem;
  position: absolute;
  left: 44.7rem;
  top: 36rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .please-confirm-your-secure-access-message-displayed-above-GuS {
  width: 28.8rem;
  height: 4.8rem;
  position: absolute;
  left: 46.1rem;
  top: 40.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
}
.frame-pyA .item--mLQ {
  width: 0.7rem;
  height: 2.4rem;
  position: absolute;
  left: 56.9rem;
  top: 42.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.025rem;
  color: #cd2026;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .enter-password-for-your-e-filing-account-fgg {
  width: 24.3rem;
  height: 2.1rem;
  position: absolute;
  left: 43.5rem;
  top: 46.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6153846154;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .password-M3i {
  width: 6.4rem;
  height: 2.1rem;
  position: absolute;
  left: 43.5rem;
  top: 51.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .item--3hE {
  width: 0.7rem;
  height: 2.4rem;
  position: absolute;
  left: 50.3rem;
  top: 51.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #cd2026;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .forgot-password-Ytt {
  width: 11.7rem;
  height: 2.1rem;
  position: absolute;
  left: 43.5rem;
  top: 59.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: #076bcf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .continue-eh2 {
  width: 6.4rem;
  height: 2rem;
  position: absolute;
  left: 56rem;
  top: 66.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1900000572;
  text-transform: capitalize;
  color: #2a3a8d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .back-xhi {
  width: 3.3rem;
  height: 2rem;
  position: absolute;
  left: 58.9rem;
  top: 72.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2693333944;
  text-transform: capitalize;
  color: #2a3a8d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .about-us-spg {
  width: 7.4rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 95.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .about-the-portal-zeQ {
  width: 10.2rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 99.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .history-of-direct-taxation-J9J {
  width: 15.8rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 102.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .vision-mission-values-CkU {
  width: 14.3rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 105.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .who-we-are-7Me {
  width: 7.6rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 108.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .right-to-information-R7S {
  width: 12.5rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 111.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .organizations-functions-Wua {
  width: 16.4rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 114rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .media-reports-DJC {
  width: 9.1rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 116.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .e-filing-calendar-2021-7uN {
  width: 13.9rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 119.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .follow-us-on-EDJ {
  width: 9rem;
  height: 2.1rem;
  position: absolute;
  left: 36.5rem;
  top: 125.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3125;
  color: rgba(255, 255, 255, 0.8700000048);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .contact-us-Yjn {
  width: 8.9rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 95.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .helpdesk-numbers-UNY {
  width: 11.9rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 99.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .grievances-awN {
  width: 6.9rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 102.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .view-grievance-JsN {
  width: 9.6rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 105.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .feedback-RBJ {
  width: 6.1rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 108.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .help-XEL {
  width: 2.9rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 111.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .using-the-portal-pz8 {
  width: 12.8rem;
  height: 2.1rem;
  position: absolute;
  left: 85.3rem;
  top: 95.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .website-policies-jrC {
  width: 10.3rem;
  height: 2.1rem;
  position: absolute;
  left: 85.3rem;
  top: 99.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .accessibility-statement-FJk {
  width: 14.7rem;
  height: 2.1rem;
  position: absolute;
  left: 85.3rem;
  top: 102.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .site-map-Yoe {
  width: 5.5rem;
  height: 2.1rem;
  position: absolute;
  left: 85.3rem;
  top: 105.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .browser-support-fNU {
  width: 10.5rem;
  height: 2.1rem;
  position: absolute;
  left: 85.3rem;
  top: 108.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .related-sites-Aq2 {
  width: 10.5rem;
  height: 2.1rem;
  position: absolute;
  left: 114.5rem;
  top: 95.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .income-tax-india-g2g {
  width: 10.7rem;
  height: 2.1rem;
  position: absolute;
  left: 114.5rem;
  top: 99.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .nsdl-ynU {
  width: 3.5rem;
  height: 2.1rem;
  position: absolute;
  left: 114.5rem;
  top: 102.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .traces-66Q {
  width: 5.2rem;
  height: 2.1rem;
  position: absolute;
  left: 114.5rem;
  top: 105.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .last-reviewed-and-updated-on-14-jan-2024-bYx {
  width: 21.6rem;
  height: 2.1rem;
  position: absolute;
  left: 131.9rem;
  top: 132.2rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9090909091;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .this-site-is-best-viewed-in-1024-768-resolution-with-latest-version-of-chrome-firefox-safari-and-internet-explorer-Use {
  width: 55.7rem;
  height: 2.1rem;
  position: absolute;
  left: 97.8rem;
  top: 134.7rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9090909091;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-pyA .copyright-income-tax-department-ministry-of-finance-government-of-india-all-rights-reserved-X5E {
  width: 51.8rem;
  height: 2.1rem;
  position: absolute;
  left: 101.7rem;
  top: 137.2rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
